.layout,
.page,
body,
html {
  height: 100%;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.layout > * {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.notice-container {
  margin: 40px auto;
  width: 100%;
  max-width: 750px;
}

.notice-tit {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #2f3438;
  padding: 0 16px;
}

.notice-wrap {
  padding-top: 0px;
  padding-bottom: 0px;
  transform: translateY(0px);
}

.notice-contents {
  min-height: 100px;
  padding: 18px 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #2f3438;
  line-height: 20px;
}

.notice-profile-box {
  display: inline-block;
  margin-right: 10px;
  line-height: 0;
}

.notice-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notice-content-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-txt-wrap {
  line-height: 18px;
}

.inner-txt {
  margin-bottom: 6px;
  display: block;
  color: #2f3438;
}

.inner-txt strong {
  font-weight: 700;
}

.last-time {
  font-size: 14px;
  line-height: 18px;
  color: #828c94;
}

.notice-img {
  width: 64px;
  height: 64px;
  border-radius: 18px;
  margin-left: 20px;
}

.notice-contents::after {
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #eaedef;
}

.notice-contents-effect {
  min-height: 100px;
  padding: 18px 24px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #2f3438;
  line-height: 20px;
  background-color: #f6faf1;
}
