.knowhow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.knowhow-container {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.knowhow-inner {
  padding: 0px 16px;
  box-sizing: border-box;
}
.knowhow-box {
  margin-top: 15px;
}
.filter-wrap {
  margin: 20px 0 40px;
}
.filter-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  padding: 5px 0;
  width: 100%;
  overflow-x: auto;
}
.filter-item {
  line-height: 0;
  display: inline-block;
}
.filter-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #f7f9fa;
  color: #828c94;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
  height: 34px;
  padding: 0 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  border: none;
}
.filter-btn-icon {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
}
.filter-btn-icon::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.filter-btn-icon:before {
  content: "\e96c";
}
.total-data {
  margin-bottom: 10px;
  font-size: 15px;
  color: #424242;
}
.content-wrap {
  margin: 0 -10px;
}
.content-line-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.content-img:hover {
  transform: scale(1.05);
}
.content-item-wrap {
  position: relative;
  cursor: pointer;
}
.content-item-container {
  text-align: center;
  margin: 0 10px 40px;
}
.content-img-box {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}
.content-img-box:before {
  content: "";
  display: block;
  padding-top: 66.66666666666667%;
}
.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.2s ease 0s;
}
.new-icon-box {
  position: absolute;
  padding: 6px;
  font-size: 0;
  z-index: 1;
  top: 6px;
  left: 6px;
}
.new-icon {
  font-size: 10px;
  line-height: 14px;
  padding: 0 6px;
  color: #ffffff;
  background-color: #ff7777;
  display: inline-block;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
}
.scrap-btn-box {
  position: absolute;
  padding: 6px;
  font-size: 0;
  z-index: 1;
  right: 6px;
  bottom: 6px;
}
.scrap-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  position: relative;
  margin-bottom: -10px;
  margin-right: -8px;
  z-index: 2;
}
.scrap-icon-box {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.scrap-icon-box img {
  width: 24px;
}
.content-title {
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  margin-top: 14px;
  color: #2f3438;
  font-weight: 700;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.content-uploader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 8px;
}
.uploader-img-box {
  overflow: hidden;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right: 6px;
}
.uploader-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploader-name {
  font-size: 14px;
  line-height: 18px;
  color: #2f3438;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-data-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 8px;
}
.scrap-data {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  color: #828c94;
}
.check-data {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  color: #828c94;
}
.check-data:before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  bottom: 0;
  width: 2px;
  height: 2px;
  margin: auto;
  border-radius: 100%;
  background: #828c94;
}
.content-data {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  color: #828c94;
}
.content-data:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  bottom: 0;
  width: 2px;
  height: 2px;
  margin: auto;
  border-radius: 100%;
  background: #828c94;
}
@keyframes modal {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.modal-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1300;
  background-color: rgba(33, 38, 41, 0.5);
  opacity: 1;
  transition: all 0.25s ease-out 0s;
  display: none;
}
.modal-container {
  transform: none;
  transition: all 0.25s ease-out 0s;
  animation: 0.25s ease-out 0s 1 normal none running modal;
  width: 100%;
  max-height: 90%;
  height: 440px;
  border-radius: 8px 8px 0 0;
  display: inline-flex;
  flex-direction: column;
  color: rgb(47, 52, 56);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
}
.modal-inner {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  word-break: break-all;
  overflow-y: auto;
  padding-bottom: 9px;
}
.modal-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal-title-box {
  position: relative;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 0px;
}
.modal-title {
}
.modal-content-wrap {
  flex: 1 1 0%;
  position: relative;
  overflow: hidden scroll;
  margin-bottom: -1px;
  margin-top: 1px;
}
.modal-content-container {
  position: relative;
  z-index: 1;
  text-align: start;
  max-height: 425px;
  overflow: auto;
  color: rgb(47, 52, 56);
}
.modal-content-btn {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 13px;
  background: none;
  color: inherit;
  text-align: left;
  border-bottom: 1px solid rgb(218, 221, 224);
}
.modal-btn-choice {
  background: rgb(239, 251, 255);
  color: rgb(53, 197, 240);
  font-weight: 700;
}
.modal-btn-text-box {
  flex-basis: max-content;
  flex-shrink: 0;
}
.modal-btn-text {
  font-size: 15px;
  line-height: 24px;
  color: inherit;
  font-weight: 400;
}
.modal-open {
  display: block;
}
