*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

body {
    margin: 0;
    line-height: inherit;
}

div {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[role=button], button {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
}

img, video {
    max-width: 100%;
    height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul{
    list-style:none;
}

body.overflow-hidden{
    overflow-x: hidden;
    height: 100%;
}

div.next {
    min-height: 100%;
}

div.full-screen{
    flex-direction: column;
    height: 100vh;
    display: flex;
}

nav.benner-wrap{
    padding-left: 32px;
    padding-right: 32px;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #97A38C;
}

div.items-center{
    align-items: center;
    display: flex;
}

img.logo-img{
    width: 90px;
    height: 30px;
}

div.logo-between{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    fill: #fff;
}

div.manager-center{
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    fill: #fff;
}

div.compose-wrap{
    border-bottom-width: 1px;
    align-items: center;
    height: 68px;
    display: flex;
    border-color: #e6e6e7;
    background-color: #fff;
}

div.compose-container{
    justify-content: space-between;
    align-items: center;
    min-width: 944px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div.compose-inner-left{
    align-items: center;
    display: flex;
    color: #1d1d1e;
    fill: #1d1d1e;
}

button.compose-inner-left{
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    display: flex;
    margin-right: 16px;
    background-color: #f3f3f4;
}

svg.compose-inner-left{
    width: 16px;
    height: 16px;
}

h1.compose-inner-left{
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
}

div.compose-inner-right{
    align-items: center;
    display: flex;
}

div.compose-temporary-storage{
    margin-right: 12px;
}

button.compose-temporary-storage{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: #b9b9bb;
    fill: #b9b9bb;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: default;
    display: flex;
}

button.compose-temporary-storage-checked{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button.compose-temporary-storage-checked:hover{
    background-color: #f5f5f5;
}

button.button-saved-wrap{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
    color: #b9b9bb;
    fill: #b9b9bb;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: default;
    display: none;
}

div.button-saved-container{
    justify-content: center;
    align-items: center;
    display: flex;
}

svg.button-saved-inner{
    width: 1rem;
    height: 1rem;
}

span.button-saved-container{
    width: 38px;
}

button.compose-storage{
    color: #b9b9bb;
    fill: #b9b9bb;
    background-color: #f3f3f4;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: default;
}

button.compose-storage-checked{
    color: #ffffff;
    fill: #ffffff;
    background-color: #c06888;
    cursor: pointer;
}

div.main-compose-wrap{
    margin-top: 32px;
}

div.main-compose-container{
    row-gap: 0;
    column-gap: 0;
    width: 944px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    place-items: center;
}

div.main-compose-inner{
    display: block;
}

div.compose-title{
    margin-bottom: 14px;
}

label.compose-title{
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    position: relative;
    border-color: rgba(0,0,0,.1);
    background-color: #fff;
}

input.compose-title{
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

input.compose-title::placeholder{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #B9B9BB;
}

div.compose-content-blcock{
    margin-bottom: 14px;
}

div.compose-content-wrap{
    margin-bottom: 48px;
}

div.compose-content-container{
    padding: 0;
    --tw-border-opacity: 1;
    border-color: rgb(230 230 231/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
}

label.compose-content{
    border-width: 1px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    position: relative;
    border-color: rgba(0,0,0,.1);
    background-color: #fff;
}

label.compose-content-checked{
    border-width: 2px;
    border-color: #c06888;
}

textarea.compose-content{
    width: 622px;
    height: 400px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

textarea.compose-content::placeholder{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #B9B9BB;
}

div.compose-content-bottom{
    opacity: .7;
    --tw-text-opacity: 1;
    color: rgb(34 47 62/var(--tw-text-opacity));
    font-size: 14px;
    padding: 0.5rem;
    justify-content: flex-end;
    display: flex;
    margin-right: 0.75rem;
    margin-top: -40px;
    margin-bottom: 10px;
}