<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="/staticfiles/css/common.css" />
    <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
    <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
    <link rel="shortcut icon" href="/staticfiles/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/staticfiles/css/class/app/class-main-app.css" />
    <title>강의홈</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <!-- 거래 카테고리 탭 -->
      <div class="category-wrap-" style="height: 52px">
        <div class="category-container" style="position: fixed; z-index: 1101; transition: top 0.1s ease 0s; top: auto; width: 100%">
          <div class="category-inner">
            <div class="category-button-space">
              <nav class="category-button-collection">
                <span class="category-button">
                  <div class="button-space">
                    <a href="/class" class="button-link-click">
                      <div class="button">
                        <p class="button-letter-click">강의홈</p>
                      </div>
                    </a>
                  </div>
                </span>
                <span class="category-button">
                  <div class="button-space">
                    <a href="#" class="button-link-unclick">
                      <div class="button">
                        <p class="button-letter-unclick">진행중인거래</p>
                      </div>
                    </a>
                  </div>
                </span>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- 스크랩 팝업 -->
      <div class="scrap-popup-wrap">
        <div class="scrap-popup-container">
          <div class="scrap-popup-inner">
            <div class="scrap-popup-text">스크랩 했습니다.</div>
          </div>
          <div class="scrap-popup-button-container">
            <!-- 스크랩북 링크삽입 -->
            <button class="scrap-link-button" type="button">스크랩북 보기</button>
            <button class="scrap-link-button" type="button">폴더에 담기</button>
          </div>
        </div>
      </div>
      <div class="scrap-popup-cancel-wrap">
        <div class="scrap-popup-container">
          <div class="scrap-popup-inner">
            <div class="scrap-popup-text">스크랩을 취소하였습니다.</div>
          </div>
        </div>
      </div>
      <!-- 거래 메인 탭 -->
      <div id="transaction-main-page">
        <section class="popular-wrap wrap-media">
          <header class="popular-header">
            <h1 class="popular-title">내 주변 인기 강의</h1>
            <a class="popular-detail-link" href="#">더보기</a>
          </header>
          <div class="post-wrap row-media">
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                      <span class="post-tag">
                        <span class="post-tag-icon">태그1</span>
                      </span>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                      <span class="post-tag">
                        <span class="post-tag-icon">태그1</span>
                      </span>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                      <span class="post-tag">
                        <span class="post-tag-icon">태그2</span>
                      </span>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                      <span class="post-tag">
                        <span class="post-tag-icon">태그1</span>
                      </span>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class="update-post-wrap wrap-media">
          <!-- 제목 -->
          <header class="popular-header">
            <h1 class="popular-title">최신 등록 강의</h1>
            <a class="popular-detail-link" id="new-detail-link" href="#">더보기</a>
          </header>
          <!-- 거래 게시글 목록 -->
          <div class="update-post-list row-media" style="padding-top: 0px; padding-bottom: 4090px; transform: translateY(0px)">
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <div class="post-container">
              <div class="post-inner">
                <article class="post">
                  <a href="#" class="post-link"></a>
                  <div class="post-image-wrap">
                    <div class="post-image-container">
                      <div class="post-image-inner">
                        <div class="post-image"></div>
                        <img src="/staticfiles/images/blank-image.png" alt class="image" />
                        <button class="scrap-button" type="button">
                          <img src="/staticfiles/images/scrap-off.png" alt class="scrap-off" />
                        </button>
                        <div class="image__dark-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div class="post-contents-wrap">
                    <div class="post-contents-container">
                      <h1 class="post-contents-header">
                        <span class="post-contents-user">작성자입력</span>
                        <span class="post-contents-banner">강의명</span>
                      </h1>
                      <span class="post-price">
                        <span class="post-price-letter">35,000</span>
                      </span>
                      <div class="post-content-pc-reply">
                        <p class="post-content-reply">리뷰 갯수</p>
                        <p class="post-content-scrap">스크랩 갯수</p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script src="/staticfiles/js/class/app/class-main-app.js"></script>
</html>
