.post-detail-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.post-detail-container {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.post-detail-inner {
  box-sizing: border-box;
  max-width: 1256px;
  margin: 0px auto;
  padding: 0px 60px;
  position: relative;
}
.post-detail-box {
  position: relative;
}
.content-wrap {
  position: relative;
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  max-width: 720px;
}
.content-container {
  height: 100%;
  margin: 48px 0px 10px;
}
.content-sub-description-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 16px;
  padding: 0px;
}
.content-sub-description {
  overflow: hidden;
  margin-right: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-top-btn {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 32px;
  color: rgb(130, 140, 148);
}
.content-top-btn:not(:last-of-type) {
  position: relative;
  margin-right: 11px;
}
.content-top-btn:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -6px;
  bottom: 0px;
  width: 1px;
  height: 14px;
  margin: auto;
  background: rgb(234, 237, 239);
}
.content-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.img-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(247, 249, 250);
}
.img-inner {
  position: relative;
  padding-bottom: 133.333%;
}
.content-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.content-text-box {
  position: relative;
}
.content-text {
  font-size: 15px;
  line-height: 24px;
  color: rgb(47, 52, 56);
  white-space: pre-line;
  padding: 0px;
}
.hashtag {
  color: rgb(0, 159, 206);
}
.content-data-wrap {
  padding: 0px;
  margin-top: 8px;
}
.content-data-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.content-data {
  margin: 0px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgb(130, 140, 148);
}
.declaration-btn-box {
  margin: 0px -6px;
}
.declaration-btn {
  display: inline-block;
  margin: 0px;
  border: none;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  height: 32px;
  border-radius: 4px;
  padding: 0px 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(130, 140, 148);
}
.declaration-btn:hover {
  background-color: rgb(247, 249, 250);
}
.week-data {
  vertical-align: middle;
}
.week-data::after {
  content: "·";
  color: rgb(194, 200, 204);
  font-weight: bold;
  margin: 0px 4px;
}
.like {
  display: inline-block;
  vertical-align: middle;
}
.like-data {
  display: inline-block;
  margin: 0px 4px;
  vertical-align: middle;
}
.scrap {
  display: inline-block;
  vertical-align: middle;
}
.scrap::before {
  content: "·";
  color: rgb(194, 200, 204);
  font-weight: bold;
  margin-right: 4px;
}
.scrap-data {
  display: inline-block;
  margin: 0px 4px;
  vertical-align: middle;
}
.check {
  display: inline-block;
  vertical-align: middle;
}
.check::before {
  content: "·";
  color: rgb(194, 200, 204);
  font-weight: bold;
  margin-right: 4px;
}
.check-data {
  display: inline-block;
  margin: 0px 4px;
  vertical-align: middle;
}
.uploader-data-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0px;
  padding: 0px;
}
.uploader-data-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  font-size: 0px;
  text-align: left;
  background: none;
}
.uploader-img-box {
  display: inline-block;
  background: url("/staticfiles/images/blank-image.png") 50% center / cover
    no-repeat;
  border-radius: 50%;
  width: 40px;
  flex-shrink: 0;
  margin: 0px;
}
.uploader-img {
  height: 0px;
  display: block;
  visibility: hidden;
  padding-top: 100%;
}
.uploader-data-box {
  margin-left: 8px;
}
.uploader-name {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
}
.uploader-sub-description {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  font-weight: 500;
  letter-spacing: -0.3px;
  margin-top: 2px;
}
.uploader-another-post-wrap {
  margin: 20px 0px 40px;
  padding: 0px;
}
.uploader-another-post-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.uploader-another-post {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: calc(25% - 6px);
  margin-left: 8px;
  font-size: 0px;
  border-radius: 8px;
}
.uploader-another-post:first-of-type {
  margin-left: 0px;
}
.uploader-another-post-img {
  width: 100%;
  display: block;
}
.comment-section {
  padding: 0px;
  margin-top: 76px;
}
.comment-section-title {
  font-size: 20px;
  line-height: 28px;
  color: rgb(47, 52, 56);
  margin-bottom: 24px;
  font-weight: 700;
}
.comment-count {
  margin-left: 6px;
  color: #c06888;
}
.comment-input-wrap {
  margin-bottom: 40px;
  margin-top: 8px;
}
.comment-input-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.comment-user-icon-box {
  display: inline-block;
  background: url("/staticfiles/images/blank-image.png") 50% center / cover
    no-repeat;
  border-radius: 50%;
  width: 30px;
  margin-right: 12px;
  flex-shrink: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
}
.comment-user-icon {
  height: 0px;
  display: block;
  visibility: hidden;
  padding-top: 100%;
}
.input-wrap {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.input-wrap:hover {
  background-color: rgb(247, 249, 250);
}
.input-container {
  -webkit-box-align: center;
  align-items: center;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  display: block;
  padding: 0px 16px;
  cursor: text;
}
.input-container:hover {
  background-color: rgb(247, 249, 250);
}
.input-inner {
  display: inline-flex;
  -webkit-box-align: center;
  line-height: 0;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
  border: 0px;
}
.comment-input {
  word-break: break-word;
  cursor: text;
  display: inline-block;
  padding: 0px;
  border: none;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  color: rgb(47, 52, 56);
  outline: none;
  font-size: 16px;
  line-height: 24px;
  overflow-y: auto;
  flex: 1 0 0%;
  min-height: 24px;
  margin: 9px 0px;
  box-sizing: border-box;
  resize: none;
  vertical-align: top;
  height: 0px;
  min-width: 100px;
}
.comment-input:empty::before {
  content: attr(data-placeholder);
  color: rgb(194, 200, 204);
  pointer-events: none;
}
.comment-submit-btn:not(:empty) {
  margin-left: 8px;
}

.comment-submit-btn-box {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 42px;
  padding: 9px 0px;
}
.comment-submit-btn {
  display: inline-block;
  margin: 0px 0px 0px 12px;
  border: none;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(194, 200, 204);
  font-weight: 700;
  flex-shrink: 0;
  padding: 0px;
}
.comment-submit-btn:first-of-type {
  margin-left: 0px;
}
.comment-item-box {
  margin: 30px 0px;
}
.comment-item {
  display: flex;
  align-items: flex-start;
  margin: 16px 0px;
}
.comment-user-img-wrap {
  cursor: pointer;
}
.comment-user-img-container {
  display: inline-block;
  background: url("/staticfiles/images/blank-image.png") 50% center / cover
    no-repeat;
  border-radius: 50%;
  width: 30px;
  flex-shrink: 0;
  margin-right: 12px;
}
.comment-user-img {
  height: 0px;
  display: block;
  visibility: hidden;
  padding-top: 100%;
}
.comment-content-box {
  flex: 1 1 0%;
}
.comment-user-name-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.commment-user-name {
  font-size: 16px;
  line-height: 20px;
  color: rgb(33, 38, 41);
  margin-right: 5px;
  cursor: pointer;
}
.comment {
  margin: 8px 0px;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word;
  color: rgb(47, 52, 56);
}
.comment-data {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: rgb(130, 140, 148);
}
.time-before {
  color: rgb(130, 140, 148);
}
.comment-like-btn-box {
  display: flex;
}
.comment-split {
  margin-right: 4px;
  margin-left: 4px;
}
.comment-like-btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(130, 140, 148);
  padding: 0px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.comment-like-icon {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
}

.comment-like-text {
  padding: 0px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.comment-like-text:hover {
  text-decoration: underline;
}
.comment-comment-btn-box {
  display: flex;
}
.comment-comment-btn {
  color: rgb(130, 140, 148);
  padding: 0px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.comment-comment-btn:hover {
  text-decoration: underline;
}

.comment-declaration-btn-box {
  display: flex;
}
.comment-declaration-btn {
  color: rgb(130, 140, 148);
  padding: 0px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.comment-declaration-btn:hover {
  text-decoration: underline;
}
.pagination-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 40px 0px 72px;
}
.pagination-prev-btn {
  margin: 0px 10px 0px 0px;
  background: none rgb(247, 249, 250);
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: rgb(194, 200, 204);
  border: 1px solid rgb(234, 237, 239);
  width: 32px;
  padding: 0px;
  vertical-align: middle;
}
.pagination-prev-btn:hover {
  background-color: rgb(247, 249, 250);
}

.pagination-prev-btn-icon {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.pagination-prev-btn-icon::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.pagination-prev-btn-icon:before {
  content: "\e965";
}

.pagination-btn {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  border: none;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
  font-weight: 500;
  width: 32px;
  padding: 0px;
  vertical-align: middle;
}
.pagination-btn:hover {
  background-color: rgb(247, 249, 250);
}

.select {
  background: none #c06888;
  color: #fff;
}
.select:hover {
  background-color: #fbccd4;
}
.pagination-next-btn {
  margin: 0px;
  background: none;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  color: rgb(47, 52, 56);
  border: 1px solid rgb(218, 221, 224);
  width: 32px;
  padding: 0px;
  vertical-align: middle;
}
.pagination-next-btn:hover {
  background-color: rgb(247, 249, 250);
}
.pagination-next-btn-icon {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.pagination-next-btn-icon::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.pagination-next-btn-icon:before {
  content: "\e969";
}
.content-spiit {
  margin: 0px;
  padding: 0px;
  height: 1px;
  border: none;
  background-color: rgb(234, 237, 239);
}
.similar-posts-box {
  overflow-x: hidden;
  margin: 56px 0px 60px;
  padding: 0px;
}
.similar-post-link:hover .similar-post-img {
  transform: scale(1.05);
}
.similar-posts-title {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(47, 52, 56);
}
.similar-posts {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  margin: 0px -8px;
}
.similar-posts > div {
  width: 33.3333%;
  margin-bottom: 16px;
  padding: 0px 8px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.similar-post {
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  border-radius: 8px;
  font-size: 0px;
  background: rgb(247, 249, 250);
}
.similar-post::after {
  content: "";
  position: absolute;
  inset: 0px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: inherit;
  pointer-events: none;
}

.similar-post-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease 0s;
}
.sticky-wrap {
  position: absolute;
  top: 50px;
  right: -145px;
  width: calc(50% - 360px);
  max-width: 340px;
  height: 100%;
  padding: 0px 40px;
  box-sizing: border-box;
}
.sticky-inner {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sticky-btn {
  position: relative;
  display: block;
  width: 60px;
  margin-bottom: 38px;
  padding: 0px;
  border: 0px;
  font: inherit;
  border: 1px solid rgb(194, 200, 204);
  background: #fff;
  box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 6px;
  border-radius: 50%;
}
.sticky-icon-box {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #fff;
  transition: all 0.2s ease 0s;
}
.sticky-icon {
  display: inline-block;
  width: 22px;
  font-size: 24px;
  line-height: 1;
  color: rgb(33, 38, 41);
}
.sticky-icon-like::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.sticky-icon-like:before {
  content: "\e9dd";
}
.sticky-icon-save::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.sticky-icon-save:before {
  content: "\ea49";
}
.sticky-icon-comment::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.sticky-icon-comment:before {
  content: "\e996";
}
.sticky-icon-share::before {
  font-family: OhouseIcon;
  vertical-align: top;
}
.sticky-icon-share:before {
  content: "\ef04";
}
.sticky-data {
  position: absolute;
  left: 50%;
  bottom: -22px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  white-space: nowrap;
  transform: translateX(-50%);
}
.sticky-btn-split {
  width: 54px;
  height: 1px;
  margin: 0px 0px 16px;
  border: 0px;
  background: rgb(234, 237, 239);
}
.background-color {
  background: rgb(247, 249, 250);
  border: none;
  box-shadow: none;
}
.background-color:hover {
  background: rgb(234, 237, 239);
}

.blind {
  height: 1200px;
  overflow: hidden;
}
.blind-screen-wrap {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 666px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.blind-screen-gradient {
  width: 100%;
  height: 400px;
  margin-top: auto;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}
.blind-content-box {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 30px 0px 100px;
}
.blind-content-text {
  font-weight: 700;
  color: rgb(47, 52, 56);
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
.blind-login-btn {
  margin: 0px;
  border: none;
  background: none #c06888;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding: 0px 16px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
}
.blind-login-btn:hover {
  background: none #fbccd4;
}
