<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="/staticfiles/css/common.css" />
    <link rel="stylesheet" href="/staticfiles/css/notification/notification.css" />
    <link rel="shortcut icon" href="/staticfiles/images/favicon.png" type="image/x-icon" />
    <title>알림</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <div class="notice-container">
        <h1 class="notice-tit">내 소식</h1>
        <div class="notice-wrap">
          <!--  -->
          <section>
            <!-- 한 칸 시작 -->
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 사진을 스크랩했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <!-- 한칸 끝 -->
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의를 신청했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의 리뷰를 등록했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 게시물을 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 댓글을 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의 리뷰를 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" />
                </a>
              </div>
            </div>

            <div>
              <div class="notice-contents-effect">
                <a href="" class="notice-profile-box">
                  <img src="/staticfiles/images/blank-image.png" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>백시현</strong>
                      님이 잘생겼어요.
                    </span>
                    <span class="last-time">방금 전</span>
                  </div>
                  <!-- <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" /> -->
                </a>
              </div>
            </div>
            <!--  -->
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
