header {
    display: block;
}

footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.main-wrap {
    height: 100%;
}

.main-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: nowrap;
}

.main-container, .page, body, html {
    height: 100%;
}

.main-container>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.header-second-wrap {
    background: #FFFFFF;
    border-bottom: 1px solid #EAEDEF;
}

.header-wrap{
    display:flex;
    justify-content: center;
}

.hearder-container {
    padding: 0 60px;
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
    line-height: 0;
    max-width: 1256px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-second-container {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: none;
    margin-left: -7px;
}

.hearder-second-container-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    outline: none;
}

.hearder-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}

.hearder-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.hearder-span:before {
    content: "\ea05";
}

.header-second-inner {
    position: static;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    left: none;
    top: none;
    color: #212629;
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    /* margin-right: 20px; */
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    margin-right: 35px;
}

.hearder-second-inner-logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: -4px;
    padding: 4px;
    font-size: 0;
    line-height: 0;
    color: #212629;
    outline: none;
    /* height: 26px; */
    height: 30px;
}

.header-second-inner-svg {
    vertical-align: top;
    /* height: 26px; */
    height: 30px;
}

.header-third-inner {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    white-space: nowrap;
}

.header-third-inner-firsta {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 21px 5px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: #2F3438;
    outline: none;
    /* color: #35C5F0;
    color: #35C5F0; */
    color:#97A38C;
}

.header-third-inner-firstsp {
    display: inline-block;
    margin: -4px;
    padding: 4px;
    border-radius: 3px;
}

.header-third-inner-seconda {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 21px 5px 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: #2F3438;
    outline: none;
}

.header-third-inner-seconda:hover{
    color:#97A38C;
}

.header-third-inner-secondsp {
    display: inline-block;
    margin: -4px;
    padding: 4px;
    border-radius: 3px;
}

/* @media (min-width: 768px){
    .header-third-inner {
        display: block;
    }
} */

/* @media (min-width: 768px){
    .hearder-container {
        padding: 0 40px;
    }
}

@media (min-width: 1024px){
    .hearder-container {
        padding: 0 60px;
    }
}

@media (min-width: 1256px){
    .hearder-container {
        max-width: 1256px;
        margin: 0 auto;
        padding: 0 60px;
    }
}

@media (min-width: 768px){
    .hearder-container {
        height: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
} */

/* @media (min-width: 768px){
    .header-second-container {
        display: none;
    }
} */


/* @media (min-width: 768px){
    .header-second-inner {
        position: static;
        margin-right: 20px;
        left: none;
        top: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

@media (min-width: 1024px){
    .header-second-inner {
        margin-right: 35px;
    }
} */

/* @media (min-width: 768px){
    .hearder-second-inner-logo {
        height: 30px;
    }
} */

/* @media (min-width: 768px){
    .header-second-inner-svg {
        height: 30px;
    }
} */

.header-fourth-inner {
    /* -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto; */
    /* flex: 0 0 auto; */
    -webkit-flex: 0 1 650px;
        -ms-flex: 0 1 650px;
        flex: 0 1 650px;
}

/* @media (min-width: 768px){
    .header-fourth-inner {
        -webkit-flex: 0 1 476px;
        -ms-flex: 0 1 476px;
        flex: 0 1 476px;
    }
} */

/* @media (min-width: 1256px){
    .header-fourth-inner {
        -webkit-flex: 0 1 650px;
        -ms-flex: 0 1 650px;
        flex: 0 1 650px;
    }
} */

.header-fourth-second-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    line-height: 0;
}

.header-fourth-inner-firstdiv {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    min-width: 0;
    /* margin-right: 9px; */
    margin-right: 14px;
}

/* @media (min-width: 1256px){
    .header-fourth-inner-firstdiv {
        margin-right: 14px;
    }
} */

.header-fourth-inner-thirddiv {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 0;
    box-sizing: border-box;
    border: 1px solid #DADDE0;
    border-radius: 4px;
    height: 40px;
    padding: 0 14px;
    width: 100%;
}
.header-fourth-inner-thirddiv:hover{
    background-color: #F7F9FA;
}
.hearder-inner-thirddiv-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
    padding-right: 6px;
    color: #828C94;
}

.hearder-inner-thirddiv-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.hearder-inner-thirddiv-span:before {
    content: "\ea4d";
}

.hearder-inner-thirddiv-input {
    box-sizing: border-box;
    -webkit-flex: 1 0 0%;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    vertical-align: middle;
    outline: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none; 
    background: none;
    font: inherit;
    height: 100%;
    color: #2F3438;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    padding-right: 6px;
}

.hearder-inner-thirddiv-input:focus{
    border-color: #97A38C;
    outline: none;
}

.header-fourth-inner-thirddiv >input {
    width: 100%;
}

::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: rgb(117, 117, 117);
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
}

input::-webkit-input-placeholder {
    text-overflow: inherit;
    overflow-wrap: normal;
    line-height: initial !important;
    -webkit-user-modify: read-only !important;
    white-space: pre;
    overflow: hidden;
}

.hearder-inner-thirddiv-input::-webkit-input-placeholder {
    color: #C2C8CC;
}

.hearder-inner-thirddiv-input::placeholder {
    color: #C2C8CC;
}

/* 통합검색 옆에 x 버튼 */
.hearder-inner-thirddiv-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* 이 코드 때문에 통합검색 박스가 사라짐 */
/* @media (min-width: 1024px){
    .header-fourth-inner-seconddiv {
        display: none;
    }
} */

.hearder-fourth-inner-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    padding: 6px;
    margin: 3px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
}

.hearder-fourth-inner-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}

.header-cart {
    position: relative;
    display: inline-block;
    padding: 6px;
    /* margin: 3px 1px; */
    margin: 9px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
}

/* @media (min-width: 768px){
    .header-cart {
        margin: 9px 1px;
    }
} */

.header-cart-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    font-size: 24px;
}

.header-cart-span:before {
    content: "\e94e";
}

.header-cart-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.header-cart-span:hover{
    color:#97A38C;
}

.header-info-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px 0 8px;
}

.header-info-each {
    font-size: 14px;
    line-height: 18px;
    color: #2F3438;
    padding: 0 10px;
    border-left: 1px solid #EAEDEF;
}

.header-info-each:first-of-type {
    border-left: none;
}

.header-write-wrap {
    line-height: 0;
}

.header-write-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    background-color: #97A38C;
    outline: none;
    overflow: hidden;
}

.header-write-content {
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 6px;
}

/* @media (min-width: 1024px){
    .header-write-content {
        margin-right: 6px;
    }
} */

.header-write-icon {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
    /* display: none; */
}

/* @media (min-width: 1024px){
    .header-write-icon {
        display: inline-block;
    }
} */

.header-write-icon:before {
    content: "\e961";
}

.header-write-icon::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

/* 모달 부분 */
.header-post-wrap {
    opacity: 1;
    display:none;
    visibility: visible;
    pointer-events: none;
    z-index: 900;
    transform: none;
    transition: opacity 0.2s ease 0s;
    pointer-events: auto;
    /* transition: opacity 0.2s ease 0s; */
}

.modalOpen{
    display:block;
}
/* .header-post-wrap.open {
    transform: none;
    transition: opacity 0.2s ease 0s;
}

.header-post-wrap.open-active {
    pointer-events: auto;
    transition: opacity 0.2s ease 0s;
} */

.header-wrap-content {
    position: relative;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 221, 224);
    border-radius: 6px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
    transform: none;
    transition: transform 0.2s ease 0s;
}

.header-content-photo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: background-color 0.1s ease 0s;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 15px;
    line-height: 0;
    outline: none;
}

.header-content-photo:hover{
    background-color: rgb(247, 249, 250);
}
.header-photo-div {
    position: relative;
}

.header-upload-div {
    margin-left: 12px;
}

.header-upload-mainTitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    color: rgb(47, 52, 56);
}

.header-upload-subTitle {
    margin: 4px 0px 0px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(130, 140, 148);
}

.header-input-xbutton {
    display: inline-block;
    margin: 0px 0px 0px 8px;
    padding: 0px;
    border: none;
    background: none;
    font: inherit;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    outline: none;
    color: rgb(130, 140, 148);
}

.header-input-xbutton:first-of-type {
    margin-left: 0px;
}

.header-input-xbutton-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
}

.header-input-xbutton-span:before {
    content: "\e9be";
}

.header-input-xbutton-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

/* .header-fourth-inner-seconddiv {
    display: flex;
} */

/* 스크랩 알림 버튼 시작 */
.header-scrap-a {
    position: relative;
    display: inline-block;
    padding: 6px;
    margin: 9px 1px;
    color: #2F3438;
    line-height: 0;
    outline: none;
    /* margin: 3px 1px; */
}

.header-scrap-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    font-size: 24px;
}

.header-scrap-span:before {
    content: "\ea49";
}

.header-scrap-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.header-alarm-a {
    position: relative;
    display: inline-block;
    padding: 6px;
    /* margin: 3px 1px; */
    color: #2F3438;
    line-height: 0;
    outline: none;
    margin: 9px 1px;
}

.header-alarm-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    font-size: 24px;
}

.header-alarm-span:before {
    content: "\ea15";
}

.header-alarm-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.header-kakao-wrap {
    line-height: 0;
}

.header-kakao-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    outline: none;
}

.header-kakao-image {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 헤더 끝 메인 시작 */

.realmain-wrap {
    margin-top: 30px;
}

.realmain-wrap-container {
    /* padding: 0 16px; */
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 60px;
}

.realmain-image-wrap {
    -webkit-flex: 1 1 847px;
    -ms-flex: 1 1 847px;
    flex: 1 1 847px;
}

.realmain-image-section {
    overflow: hidden;
    position: relative;
    padding-top: 59.976387249114524%;
    font-size: 0;
    border-radius: 4px;
}

.realmain-image-firsta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.realmain-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #EAEDEF;
    -webkit-transition: .2s -webkit-transform;
    transition: .2s transform;
}

.realmain-image:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.realmain-image-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 160px;
    padding: 0px 30px 30px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
    pointer-events: none;
}

.realmain-image-contentp {
    overflow: hidden;
    display: -webkit-box;
    /* font-size: 24px;
    line-height: 32px; */
    color: #FFFFFF;
    font-weight: 700;
    word-break: keep-all;
    text-overflow: ellipsis;
    text-shadow: 0 2px 10px rgba(63, 71, 77, 0.25);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 32px;
    line-height: 42px;
}

.realmain-image-contentspan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px;
}

.realmain-image-contentspan-image {
    /* width: 20px;
    height: 20px; */
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 100%;
}

.realmain-image-contentspan-span {
    /* font-size: 14px;
    line-height: 20px; */
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

.realmain-advertisement-wrap {
    -webkit-flex: 1 1 269px;
    -ms-flex: 1 1 269px;
    flex: 1 1 269px;
    margin-left: 20px;
}

.realmain-advertisement-content {
    position: relative;
    padding-top: 188.84758364312268%;
}

.carousel {
    position: relative;
}

.realmain-advertisement-content2.realmain-advertisement-content2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.realmain-advertisement-content3 {
    overflow: hidden;
    height: 100%;
    border-radius: 4px;
    background: #EAEDEF;
}

.realmain-advertisement-content4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    min-height: 100%;
    height: 100%;
}

.realmain-advertisement-content5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    user-select: none;
}

.realmain-advertisement-link {
    display: block;
    height: 100%;
}

.realmain-advertisement-div {
    height: 100%;
    /* display: none; */
}

.realmain-advertisement-span {
    height: inherit;
    display: block;
    transition: transform 0.2s ease 0s;
}

.realmain-advertisement-image {
    width: 270%;
    height: 100%;
    object-fit: cover;
    background-color: #EAEDEF;
    -webkit-transition: .2s -webkit-transform;
    transition: .2s transform;
}

.realmain-advertisement-image:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* 이런 사진 찾고 있나요 부분 */
.realmain-plantRecommend-wrap {
    /* padding: 0px 16px; */
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    max-width: 1256px;
    /* margin: 0px auto; */
    padding: 0px 60px;
    margin: 40px auto;
}

.realmain-plantRecommend-latterwrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    font-size: 0px;
    line-height: 1;
}

.realmain-plantRecommend-lattercontent {
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 0px;
}

.realmain-plantRecommend-mainlatter {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.realmain-plantRecommend-stronglatter {
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 28px;
}

.realmain-plantRecommend-stronglatter:hover{
    opacity: 0.5;
}

.realmain-plantRecommend-littlelatter {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    margin-top: 4px;
}

.realmain-plantRecommend-spanlatter {
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.realmain-seeMore-wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 0px;
    margin-left: 10px;
}

.realmain-seeMore {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color:#97A38C;
    cursor: pointer;
}

.realmain-seeMore:hover{
    opacity: 0.5;
}

.realmain-plantRecommend-photowrap2 {
    height: fit-content;
    position: relative;
}

.realmain-plantRecommend-photowrap3 {
    position: relative;
    z-index: 0;
}

.realmain-plantRecommend-photoul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.realmain-plantRecommend-photoli {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    flex-shrink: 0;
    scroll-snap-align: start;
    width: calc(16.6667% - 16.6667px);
}

.realmain-plantRecommend-photowrapdiv {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0px;
    flex-flow: column;
}

.realmain-plantRecommend-photocontentdiv {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    width: 176.5px;
    height: 260px;
}
realmain-plantRecommend-photocontentdiv::after{
    content: "";
    display: block;
    padding-top: 133.333%
}
.realmain-plantRecommend-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.2s ease 0s;
}

.realmain-plantRecommend-photo:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.realmain-plantRecommend-profilediv {
    position: absolute;
    padding: 8px;
    font-size: 0px;
    z-index: 1;
    left: 0px;
    bottom: 0px;
}

.realmain-plantRecommend-profilediv2 {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; */
    align-items: center;
}

.realmain-plantRecommend-profilediv3 {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin-right: 4px;
}

.realmain-plantRecommend-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.realmain-plantRecommend-profilespan {
    overflow: hidden;
    display: inline-block;
    max-width: 100px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.realmain-plantRecommend-scrap {
    position: absolute;
    padding: 8px;
    font-size: 0px;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}

.realmain-plantRecommend-scrapbutton {
    margin: 0px -6px -6px 0px;
    padding: 0px;
    border: none;
    background: none;
    font: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: relative;
}

.realmain-plantRecommend-scrapspan {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    transform: translateZ(0px);
}

.realmain-plantRecommend-scrapspan > img {
    filter: drop-shadow(rgba(63, 71, 77, 0.25) 0px 2px 5px);
}

.realmain-plantRecommend-scrapoff {
    opacity: 1;
}

.realmain-plantRecommend-scrapspan > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.realmain-plantRecommend-scrapon {
    opacity: 0;
}

.realmain-plantRecommend-profilelink {
    position: absolute;
    top:0;
    left:0;
    inset: 0px;
    cursor: pointer;
}

.realmain-plantRecommend-beforebuttonWrap {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0%;
    display: none;
}

.realmain-beforebutton {
    margin: 0px;
    border: none;
    background: none rgb(255, 255, 255);
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px;
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 5px;
}

.realmain-beforebutton-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    color: rgb(47, 52, 56);
}

.realmain-beforebutton-span {
    font-family: OhouseIcon;
    vertical-align: top;
}

.realmain-beforebutton-span4:before {
    content: "\e966";
}

.realmain-plantRecommend-nextbuttonWrap {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 100%;
}

.realmain-nextbutton {
    margin: 0px;
    border: none;
    background: none rgb(255, 255, 255);
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px;
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 5px;
}

.realmain-nextbutton-span {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    color: rgb(47, 52, 56);
}

.realmain-nextbutton-span::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.realmain-nextbutton-span:before {
    content: "\e96a";
}

.realmain-plantRecommend-searchmoreA {
    color: rgb(47, 52, 56);
    display: inline-block;
    font-weight: 500;
    padding: 6px 16px;
}

.realmain-plantRecommend-searchmorediv {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(234, 237, 239);
    margin-bottom: 6px;
    position: relative;
}

.realmain-plantRecommend-searchmorespan {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.realmain-plantRecommend-searchmorespan::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.realmain-plantRecommend-searchmorespan:before {
    content: "\e931";
}

.realmain-plantRecommend-searchmoreletter {
    font-size: 14px;
    line-height: 20px;
}

/* 따라하기 좋은 40평 이상 집들이 부분 (아마 강의 추천 부분이 될 것 같음) */
.realmain-lectureRecommend-wrap {
    padding: 0px 16px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    max-width: 1256px;
    /* margin: 0px auto; */
    padding: 0px 60px;
    margin: 40px auto;
}

.realmain-lectureRecommend-lattercontent {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    font-size: 0px;
    line-height: 1;
}

.realmain-lectureRecommend-lattercond {
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 0px;
}

.realmain-lectureRecommend-lattercondd {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    cursor: pointer;
}

.realmain-stronglatter {
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 28px;
}

.realmain-lecture-seeMore-wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 0px;
    margin-left: 10px;
}

.realmain-lectureSeeMore {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color:#97A38C;
    cursor: pointer;
}

.realmain-lectureSeeMore:hover{
    opacity: 0.5;
}

.realmain-lecture-photoDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.realmain-lecture-photoEachdiv {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0px;
    flex-flow: column;
    margin-top: 10px;
}

.realmain-lecture-photoEachphoto {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.realmain-lecture-photoEachphoto::after {
    content: "";
    display: block;
    padding-top: 66.6667%;
}

.realmain-lecture-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 0.2s ease 0s;
}

.realmain-lecture-why {
    position: absolute;
    padding: 8px;
    font-size: 0px;
    z-index: 1;
    left: 0px;
    bottom: 0px;
}

.realmain-lecture-whydiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.realmain-lecture-scrap {
    position: absolute;
    padding: 8px;
    font-size: 0px;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}

.realmain-lecture-scrapbutton {
    margin: 0px -6px -6px 0px;
    padding: 0px;
    border: none;
    background: none;
    font: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: relative;
}

.realmain-lecture-scrapSpan {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    transform: translateZ(0px);
}

.realmain-lecture-scrapSpan > img {
    filter: drop-shadow(rgba(63, 71, 77, 0.25) 0px 2px 5px);
}

.realmain-lecture-scrapSpan > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.realmain-lecture-scrapoff {
    opacity: 1;
}

.realmain-lecture-scrapon {
    opacity: 0;
}

.realmain-lecture-photoEachphoto::after{
    content: "";
    display: block;
    padding-top: 66.6667%;  
}

.realmain-stronglatter:hover{
    opacity: 0.5;
}

.realmain-lecture-explanationDiv {
    min-width: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(47, 52, 56);
    word-break: keep-all;
    overflow-wrap: break-word;
    margin-top: 10px;
}

.realmain-lecture-explanationP {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.realmain-lecture-explanationSpan {
    color: #97A38C;
    font-weight: 700;
}

.realmain-lecture-explanationSpan::after {
    content: " ";
}

.realmain-lecture-explanationA {
    position: absolute;
    inset: 0px;
    cursor: pointer;
}
