blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    color: inherit;
    text-decoration: none;
}

div {
    display: block;
}

body, html {
    line-height: 1;
    font-family: "Pretendard Variable", "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 13px;
}

section {
    display: block;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

button, input, select, textarea {
    font-size: inherit;
}

[class^="_"], [class*=" _"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

nav {
    display: block;
}

div.notice-wrap{
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

div.help-container{
    flex-direction: column;
    padding-bottom: 24px;
    display: flex;
    color: rgb(47, 52, 56);
}

div.help-inner{
    padding: 0px 16px;
    flex: 1 1 auto;
}

h2.help-text{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 44px;
    margin-bottom: 20px 
}

li.help-example{
    cursor: pointer;
    min-height: 28px;
    margin-bottom: 16px;
    position: relative;
    padding-left: 36px;
    font-size: 16px;
    line-height: 28px;
}

span.help-q{
    position: absolute;
    left: 0px;
    top: -2px;
    width: 28px;
    height: 28px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 20px;
    color: #c06888;
    border: 1px solid rgb(234, 237, 239);
    box-shadow: rgba(63, 71, 77, 0.05) 0px 2px 6px;
}

hr.help-between-center{
    margin: 0px;
    padding: 0px;
    height: 10px;
    border: none;
    background-color: rgb(247, 249, 250);
}

div.center{
    padding: 0px 16px;
        background-color: inherit;
    margin-top: 28px;
    flex: 1 1 auto;
}

h2.center-time{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 6px;
}

div.center-days{
    font-size: 14px;
    line-height: 20px;
    color: rgb(130, 140, 148);
    position: relative;
    padding-left: 20px;
}

div.center-number{
    margin-top: 28px;
}

div.center-between{
    margin-top: 20px;
}

div.center-contact{
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

span.time{
    color: #c06888;
}

div.center-days::before{
    content: "•";
    position: absolute;
    font-size: 10px;
    left: 7px;
}

p.center-number{
    font-size: 20px;
    line-height: 28px;
    color: #c06888;
    margin-bottom: 14px
}

span.center-number{
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

button.kakao{
    grid-column: 1 / 3;
    margin: 0px;
    border: none;
    background: none  #F7E600;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0);
}

a.contact-email{
    grid-row: initial;
    grid-column: 1 / 3;
    margin: 0px;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #97A38C;
    border: 1px solid #97A38C;
}

button.contact-phone{
    grid-row: initial;
    grid-column: 1 / 3;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    background: none;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #97A38C;
    border: 1px solid #97A38C;
}

hr.halfline{
    margin: 0px;
    padding: 0px;
    height: 10px;
    border: none;
    background-color: rgb(247, 249, 250);
}

div.benner-wrap{
    background-color: rgb(255, 255, 255);
}

nav.benner-container{
    padding-top: 28px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px 24px 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

input.benner-button-1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}

span.benner-button-1{
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: inherit;
}

label.benner-inner-1{
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    height: 38px;
    border-radius: 19px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 0;
    color: rgb(47, 52, 56);
    background-color: rgb(247, 249, 250);
}

label.benner-inner-1::before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

label.benner-inner-2{
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    height: 38px;
    border-radius: 19px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 0;
    color: rgb(47, 52, 56);
    background-color: rgb(247, 249, 250);
}

label.benner-inner-2::before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

label.benner-inner-checked{
    cursor: pointer;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    height: 38px;
    border-radius: 19px;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 0;
    color: rgb(255, 255, 255);
    background-color: #97A38C;
}

label.benner-inner-checked:hover {
    background-color: #6e7667;
}

label.benner-inner-checked::before{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

input.benner-button-2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
}

span.benner-button-2{
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: inherit;
}

div.list-wrap{
    padding: 0px 16px;
}

ul.list-container{
    padding-top: 24px;
    overflow: hidden;
    padding-bottom: 60px;
}

li.list-inner-box{
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: rgb(47, 52, 56);
}

h3.list-inner{
    font-size: 16px;
    line-height: 24px;
    color: rgb(47, 52, 56);
    border-bottom: 1px solid rgb(234, 237, 239);
    padding: 8px 0px;
}

h3.list-inner-open{
    border-bottom: none;
}

button.list-q{
    display: inline-block;
    margin: 0px;
    border: none;
    background: none;
    font: inherit;
    color: rgb(47, 52, 56);
    width: 100%;
    position: relative;
    text-align: left;
    padding: 10px 40px 10px 36px
}

span.question-q{
    top: 7px;
    position: absolute;
    left: 0px;
    width: 28px;
    height: 28px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    line-height: 20px;
    color: #c06888;
    border: 1px solid rgb(234, 237, 239);
    box-shadow: rgba(63, 71, 77, 0.05) 0px 2px 6px;
}
span.question-text{
    display: inline-block;
    margin: 0px;
    border: none;
    background: none;
    font: inherit;
    color: rgb(47, 52, 56);
    width: 100%;
    position: relative;
    text-align: left;
}

span.question-text-open{
    font-weight: 700;
}

span.question-v{
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.2s ease 0s;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

span.question-v-open{
    transform: rotate(180deg);
}

span.question-v::before{
    font-family: OhouseIcon;
    vertical-align: top;
    content: "\e962";
}

div.question{
    background-color: rgb(247, 249, 250);
    border-radius: 4px;
    transition: all 0.2s ease 0s;
    box-sizing: border-box;
    padding: 0px 16px;
    opacity: 0;
    height: 0px;
}

div.question-open{
    opacity: 1;
    padding: 16px;
    display: block;
    height: auto;
}
