@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

a * {
  border: none;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

/* 페이지 전체를 감싸는 부분 */
.register-wrap {
  height: 100%;
}

.register-container {
  padding-top: 40px;
  width: calc(100% - 30px);
  margin: auto;
}

/* 로고를 제외한 나머지를 감싸는 부분 */
.except-logo-wrap {
  width: 100%;
  margin: 0px auto;
  padding: 60px 0px;
}

.register-text {
  font-size: 20px;
  font-weight: bold;
}

/* 다른 SNS 계정으로 가입 */
.other-sns-wrap {
  margin: 30px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.sns-text {
  font-size: 12px;
  text-align: center;
  margin: 15px 0px;
  color: rgb(117, 117, 117);
}

.sns-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.sns-icon-wrap {
  margin: 0px 10px;
}

.sns-icon {
  display: block;
}

/* 이메일 입력란 */
.email-input-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

/* JS로 error 클래스가 추가되었을 때, 텍스트 색상 변화 */
.email-input-text.error {
  color: rgb(255, 119, 119);
}

.email-input-group {
  display: flex;
  -webkit-box-flex: 1;
}

.email-input-local {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
}

.email-seperator {
  -webkit-box-flex: 0;
  flex: 0 0 20px;
  text-align: center;
  line-height: 40px;
  color: #dbdbdb;
}

/* 이메일 입력란에서 아이디, 사이트 입력란에 공통 적용 */
.email-form-control {
  width: 100%;
  font-size: 15px;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
  -webkit-box-flex: 1;
}

.email-form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(130, 224, 250, 0.5);
}

/* js로 error 클래스 추가 시 적용 */
/* 이메일, 사이트 입력창 양쪽 다 적용 */
.email-input-local .email-form-control.error,
.email-input-domain .email-form-control.error {
  border-color: #f77;
}

.email-input-local .email-form-control.error:focus,
.email-input-domain .email-form-control.error:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 119, 119, 0.5);
}

/*
  JS 이벤트로 error 클래스가 추가될 때,
  각 입력칸 아래에 추가되는 div 요소에 적용
*/
.not-available {
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 119, 119);
}

.email-form-control::placeholder {
  color: rgb(194, 200, 204);
}

.email-form-control:hover {
  background-color: #fafafa;
  border-color: #bdbdbd;
}

/* 마찬가지로 공통 적용 */
.email-form-control-blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* email-form-control 내 disabled 된 요소에 적용 */
.email-form-control :disabled {
  color: #757575;
  -webkit-text-fill-color: #757575;
  opacity: 1;
}

/* email-form-control 내 option 태그들에 적용 */
.email-form-control option {
  color: #424242;
}

.email-input-domain .domain-select-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: none;
  border: none;
  font-size: 0;
  cursor: default;
  color: rgba(0, 0, 0, 0.3);
}

.email-input-domain {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
}

/* 이메일 확인 버튼 */
.email-verify-button-wrap {
  margin-bottom: 30px;
  padding-top: 2px;
}

.email-verify-button {
  user-select: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
  line-height: 20px;
  font-size: 17px;
  min-height: 50px;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 0px;
  background: rgb(247, 248, 250);
  color: rgb(194, 200, 204);
  border-color: rgb(218, 220, 224);
}

/* 이메일 양식 만족으로 인해 enabled 되었을 때 */
.email-verify-button.enabled {
  background-color: #fff;
  border-color: #35c5f0;
  color: #35c5f0;
}

.email-verify-button.enabled:hover {
  background-color: #effbff;
}

/* 비밀번호 입력란 */
.password-wrap {
  margin-bottom: 30px;
}

.password-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.password-info {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  letter-spacing: -0.3px;
}

.password-input {
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-size: 15px;
  line-height: 21px;
  transition: border-color 0.1s, background-color 0.1s;
  resize: none;
  padding: 8px 15px 9px;
  -webkit-font-smoothing: antialiased;
}

.password-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(130, 224, 250, 0.5);
}

/* js로 error 클래스 추가 시 적용 */
.password-text.error {
  color: rgb(255, 119, 119);
}

.password-wrap .password-input.error {
  border-color: #f77;
}

.password-wrap .password-input.error:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 119, 119, 0.5);
}

.password-input::placeholder {
  color: rgb(194, 200, 204);
}

.password-input:hover:not(:focus) {
  background-color: #fafafa;
}

.password-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* 비밀번호 확인 */
.password-verify-wrap {
  margin-bottom: 30px;
}

.password-verify-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.password-verify-input {
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-size: 15px;
  line-height: 21px;
  transition: border-color 0.1s, background-color 0.1s;
  resize: none;
  padding: 8px 15px 9px;
  -webkit-font-smoothing: antialiased;
}

.password-verify-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(130, 224, 250, 0.5);
}

/* js로 error 클래스 추가 시 적용 */
.password-verify-text.error {
  color: rgb(255, 119, 119);
}

.password-verify-wrap .password-verify-input.error {
  border-color: #f77;
}

.password-verify-wrap .password-verify-input.error:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 119, 119, 0.5);
}

.password-verify-input::placeholder {
  color: rgb(194, 200, 204);
}

.password-verify-input:hover:not(:focus) {
  background-color: #fafafa;
}

.password-verify-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* 주거래 지역 입력란 */
.region-input-wrap {
  margin-bottom: 20px;
}

.region-input-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.region-input-group {
  display: flex;
  -webkit-box-flex: 1;
}

.region-input-local {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
}

.region-seperator {
  -webkit-box-flex: 0;
  flex: 0 0 20px;
  text-align: center;
  line-height: 40px;
  color: #dbdbdb;
}

/* 주거래 지역 입력란에서 "도" 지역과, "시, 군, 구" 지역 입력란에 공통 적용 */
.region-form-control {
  width: 100%;
  font-size: 15px;
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
  display: block;
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
  -webkit-box-flex: 1;
}

.region-form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(130, 224, 250, 0.5);
}

.region-form-control:hover {
  background-color: #fafafa;
  border-color: #bdbdbd;
}

.region-form-control-blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* "시, 군, 구" 지역 입력란 내 disabled 된 요소에 적용 */
.region-form-control :disabled {
  color: #757575;
  -webkit-text-fill-color: #757575;
  opacity: 1;
}

/* "시, 군, 구" 지역 입력란 내 option 태그들에 적용 */
.region-form-control option {
  color: #424242;
}

.region-input-local .region-select-button,
.region-input-domain .region-select-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: none;
  border: none;
  font-size: 0;
  cursor: default;
  color: rgba(0, 0, 0, 0.3);
}

.region-input-domain {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0px;
}

/* 닉네임 입력란 */
.nickname-wrap {
  margin-bottom: 30px;
}

.nickname-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.nickname-info {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(130, 140, 148);
  letter-spacing: -0.3px;
}

.nickname-input {
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-size: 15px;
  line-height: 21px;
  transition: border-color 0.1s, background-color 0.1s;
  resize: none;
  padding: 8px 15px 9px;
  -webkit-font-smoothing: antialiased;
}

.nickname-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(130, 224, 250, 0.5);
}

/* js로 error 클래스 추가 시 적용 */
.nickname-text.error {
  color: rgb(255, 119, 119);
}

.nickname-wrap .nickname-input.error {
  border-color: #f77;
}

.nickname-wrap .nickname-input.error:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 119, 119, 0.5);
}

.nickname-input::placeholder {
  color: rgb(194, 200, 204);
}

.nickname-input:hover:not(:focus) {
  background-color: #fafafa;
}

.nickname-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* 약관동의 */
.terms-wrap {
  margin-bottom: 30px;
}

.terms-text {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  word-break: keep-all;
}

.terms-container {
  padding: 18px;
  border: 1px solid rgb(234, 237, 239);
}

.all-agree-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.all-agree-container {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  flex: 1 1 0%;
}

.all-check-wrap {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
}

.all-check-wrap:hover {
  background-color: #f7f9fa;
  border-color: #dadde0;
}

.all-check-container {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 0px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}

.all-check-area {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}

.all-check-area::before {
  font-family: OhouseIcon;
  vertical-align: top;
  content: "\e958";
}

.all-check-input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.all-check-text-wrap {
  flex: 1 1 0%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  color: rgb(47, 52, 56);
}

.all-check-text-container {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.all-check-detail {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(130, 140, 148);
}

.terms-seperator {
  padding: 0px;
  height: 1px;
  border: none;
  background-color: rgb(234, 237, 239);
  margin: 18px 0px;
}

/* 필수 동의사항 */
.essential-terms-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.essential-terms-container {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  flex: 1 1 0%;
}

.essential-check-wrap {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
}

.essential-check-wrap:hover {
  background-color: #f7f9fa;
  border-color: #dadde0;
}

/* JS 이벤트로 enabled 클래스가 추가된 경우의 스타일 */
.essential-check-wrap.enabled {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(53, 197, 240);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(53, 197, 240);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
}

.essential-check-wrap.enabled:hover {
  background-color: rgb(0, 159, 206);
  border-color: rgb(0, 159, 206);
}

.essential-check-container {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 0px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}

/* JS 이벤트로 enabled 클래스가 추가된 경우의 스타일 */
.essential-check-container.enabled {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 12px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}

.essential-check-area {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  color: rgb(255, 255, 255);
}

.essential-check-area::before {
  font-family: OhouseIcon;
  vertical-align: top;
  content: "\e958";
}

.essential-check-input[type="checkbox"] {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  cursor: pointer;
}

.essential-text-wrap {
  flex: 1 1 0%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  color: rgb(47, 52, 56);
}

.essential-text-container {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.essential-text-container::after {
  content: "(필수)";
  display: inline-block;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(0, 159, 206);
}

.essential-terms-wrap + .essential-terms-wrap {
  margin-top: 20px;
}

.terms-link-wrap {
  margin-left: 8px;
  color: rgb(47, 52, 56);
}

.terms-link-container {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.terms-link-container::before {
  font-family: OhouseIcon;
  vertical-align: top;
  content: "\e969";
}

/* 선택 동의사항 */
.optional-terms-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.optional-terms-container {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  flex: 1 1 0%;
}

.optional-check-wrap {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
}

.optional-check-wrap:hover {
  background-color: #f7f9fa;
  border-color: #dadde0;
}

/* JS 이벤트로 enabled 클래스가 추가된 경우의 스타일 */
.optional-check-wrap.enabled {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(53, 197, 240);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(53, 197, 240);
  transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
  flex-shrink: 0;
}

.optional-check-wrap.enabled:hover {
  background-color: rgb(0, 159, 206);
  border-color: rgb(0, 159, 206);
}

.optional-check-container {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 0px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}

/* JS 이벤트로 enabled 클래스가 추가된 경우의 스타일 */
.optional-check-container.enabled {
  position: absolute;
  overflow: hidden;
  top: 3.6px;
  left: 3px;
  width: 12px;
  height: 12px;
  transition: width 0.2s ease 0.1s;
}

.optional-check-area {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: top;
  color: rgb(255, 255, 255);
}

.optional-check-area::before {
  font-family: OhouseIcon;
  vertical-align: top;
  content: "\e958";
}

.optional-check-input[type="checkbox"] {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  cursor: pointer;
}

.optional-text-wrap {
  flex: 1 1 0%;
  font-size: 16px;
  line-height: 20px;
  margin-left: 6px;
  color: rgb(47, 52, 56);
}

.optional-text-container {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.optional-text-container::after {
  content: "(선택)";
  display: inline-block;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(130, 140, 148);
}

.essential-terms-wrap + .optional-terms-wrap {
  margin-top: 20px;
}

.optional-terms-wrap + .optional-terms-wrap {
  margin-top: 20px;
}

/* 회원가입 버튼 */
.register-button {
  user-select: none;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
  background-color: #35c5f0;
  border-color: #35c5f0;
  color: #fff;
  padding: 11px 10px;
  font-size: 17px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.register-button:hover {
  border-color: #09addb;
  background-color: #09addb;
}

/* 로그인 페이지로 이동 */
.already-registered-wrap {
  color: rgb(66, 66, 66);
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}

.login-link {
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
}

.login-link:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  body,
  html {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .except-logo-wrap {
    width: 360px;
  }
}
