<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="../../staticfiles/css/common.css" />
    <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
    <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
    <link
      rel="stylesheet"
      href="../../staticfiles/css/class/class-upload.css"
    />
    <link
      rel="shortcut icon"
      href="/staticfiles/images/favicon.png"
      type="image/x-icon"
    />
    <title>수강포스팅-오프라인</title>
  </head>

  <body>
    <div class="layout-wrap">
      <div class="layout-container">
        <div
          class="sticky-header-wrap"
          style="
            position: sticky;
            top: 0px;
            transition: top 0.1s ease 0s;
            z-index: 500;
          "
        >
          <div class="sticky-header-container" style="position: relative">
            <div class="sticky-header-inner">
              <div class="contents-button-wrap">
                <a href="#" aria-label="selleaf" class="logo-wrap">
                  <img
                    class="logo"
                    src="/staticfiles/images/logo-lettering-blk.png"
                    alt=""
                  />
                </a>

                <div class="save-button-wrap">
                  <div class="save-button-container">
                    <div class="temporary-save-wrap">
                      <div class="temporary-save-container">
                        <button type="button" disabled class="temporary-save">
                          <span class="temporary-save-letter">임시저장</span>
                          <span class="save-letter">저장</span>
                        </button>
                      </div>
                    </div>
                    <button type="button" class="establish">
                      <span class="establish-ask-letter">등록하기</span>
                      <span class="establish-letter">등록</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-main-wrap">
          <div class="upload-main-container">
            <div class="upload-guide-wrap">
              <div class="upload-guide-container">
                <button
                  type="button"
                  id="guide-header"
                  aria-labelledby="guide-content"
                  aria-expanded="false"
                  class="guide-button"
                >
                  <div class="guide-letter-wrap">
                    <div class="guide-icon-wrap">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        class="icon"
                      >
                        <rect
                          width="25"
                          height="25"
                          fill="#135f2c"
                          rx="10"
                        ></rect>
                        <g fill="#FFF" transform="translate(7 8)">
                          <rect width="7" height="1.5" rx="0.8"></rect>
                          <rect width="11" height="1.5" y="4" rx="0.8"></rect>
                          <rect width="11" height="1.5" y="8" rx="0.8"></rect>
                        </g>
                      </svg>
                    </div>
                    <div class="guide-title">강의 등록 가이드</div>
                    <div class="guide-notice">강의 등록시 꼭 읽어주세요.</div>
                  </div>
                  <div class="dropdown-icon-wrap">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="dropdown-icon"
                    >
                      <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"
                      ></path>
                    </svg>
                  </div>
                </button>
                <div class style="overflow: hidden"></div>
                <div class="off">
                  <div class="guide-expended" role="region" id="guide-content">
                    <ul class="guide-list">
                      <li>
                        셀리프에서 진행하는 강의의 경우,
                        <strong>누구나 강사가 될 수 있습니다.</strong>
                      </li>
                      <li>
                        강의 장소는 강사님의 이 지정하되 강의에 부적합하다고
                        판단되는 경우 <strong>강의 게시글이 삭제</strong>될 수
                        있음을 안내드립니다.
                      </li>
                      <li>
                        강의를 진행하는 동안에 이루어지는 일에 대한 책임은
                        강사에게 있으며, 셀리프는 강의에 대한 중개만을 담당함을
                        알려드립니다.
                      </li>
                      <li>
                        아래 필수 정보를 입력하지 않으면 강의가 개설되지
                        않습니다. 필수정보는 꼼꼼하게 입력해주세요.
                      </li>
                      <li>
                        사진 첨부 시 용량은 장당 최대 20MB까지 업로드할 수 있고,
                        jpg, png, webp, heif, heic, gif 포맷을 지원합니다.
                      </li>
                      <li>
                        글 작성과 이미지 업로드 시, 타인의 지식재산권을 침해하지
                        않도록 유의해 주세요.
                      </li>
                      <li>
                        강의는 작성해주신 초안을 바탕으로 내부의 검수, 태그
                        작업을 거쳐서 발행되고 있습니다. 이에 따라 내용이 변경될
                        수 있습니다.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="upload-guide-container">
                <button
                  type="button"
                  id="required-info-header"
                  aria-labelledby="required-info-content"
                  aria-expanded="false"
                  class="guide-button"
                >
                  <div class="guide-letter-wrap">
                    <div class="guide-icon-wrap">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="26"
                        height="26"
                        viewBox="0 0 26 26"
                        class="icon"
                      >
                        <rect
                          width="26"
                          height="26"
                          fill="#97a38c"
                          rx="10"
                        ></rect>
                        <g fill="none" stroke="#FFF">
                          <path
                            stroke-linejoin="round"
                            stroke-width="1.2"
                            d="M15.06 8.65l-6.9 6.88L7 18.98l3.45-1.15 6.9-6.9-2.3-2.28z"
                          ></path>
                          <path
                            stroke-width="1.2"
                            d="M15.04 8.64l1.45-1.45a.65.65 0 01.93 0l1.37 1.38a.65.65 0 010 .92l-1.45 1.45"
                          ></path>
                          <path d="M8.27 15.2l2.48 2.47"></path>
                        </g>
                      </svg>
                    </div>
                    <div class="guide-title">필수정보 입력창</div>
                    <div class="guide-notice">꼭 필요한 정보입니다.</div>
                  </div>
                  <div class="dropdown-icon-wrap">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="dropdown-icon"
                    >
                      <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"
                      ></path>
                    </svg>
                  </div>
                </button>
                <div class style="overflow: hidden"></div>
                <!-- class 수정, css 추가 -->
                <div class="required-off">
                  <div class="info-expended" style="overflow: hidden">
                    <div
                      role="hidden"
                      id="info-contents"
                      aria-labelledby="info-header"
                      class="info-wrap"
                    >
                      <div class="info-container">
                        <div class="each-info">
                          <div class="info-title">
                            강의구분
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <select
                                      name="product-index"
                                      class="product-index"
                                    >
                                      <option
                                        value="unselected"
                                        disabled
                                        selected
                                      >
                                        선택해주세요.
                                      </option>
                                      <option value="0">리스/트리</option>
                                      <option value="1">
                                        바구니/센터피스/박스
                                      </option>
                                      <option value="2">가드닝/테라리움</option>
                                      <option value="3">기타</option>
                                    </select>
                                  </div>
                                </span>
                              </div>
                            </div>
                            <span
                              class="alert"
                              style="display: none; color: #c06888"
                              >필수 입력창 입니다.</span
                            >
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            식물종류
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <div class="plant-selection">관엽식물</div>
                                <div class="plant-selection">침엽식물</div>
                                <div class="plant-selection">희귀식물</div>
                                <div class="plant-selection">다육/선인장</div>
                                <div class="plant-selection">테라리움</div>
                                <div class="plant-selection">기타</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            강의지역
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <select
                                      name="product-index"
                                      class="product-index"
                                    >
                                      <option
                                        value="unselected"
                                        disabled
                                        selected
                                      >
                                        선택해주세요.
                                      </option>
                                      <option value="0">서울특별시</option>
                                      <option value="1">부산광역시</option>
                                      <option value="2">대구광역시</option>
                                      <option value="3">인천광역시</option>
                                      <option value="4">광주광역시</option>
                                      <option value="5">대전광역시</option>
                                      <option value="6">울산광역시</option>
                                      <option value="7">강원도</option>
                                      <option value="8">경기도</option>
                                      <option value="9">경상남도</option>
                                      <option value="10">경상북도</option>
                                      <option value="11">전라남도</option>
                                      <option value="12">전라북도</option>
                                      <option value="13">충청남도</option>
                                      <option value="14">충청북도</option>
                                      <option value="15">세종특별자치시</option>
                                      <option value="16">제주특별자치도</option>
                                    </select>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            상세지역
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <select
                                      name="product-index"
                                      class="product-index"
                                    >
                                      <option
                                        value="unselected"
                                        disabled
                                        selected
                                      >
                                        선택해주세요.
                                      </option>
                                      <option value="0">성동구</option>
                                      <option value="1">구</option>
                                      <option value="2">구</option>
                                      <option value="3">구</option>
                                      <option value="4">구</option>
                                      <option value="5">구</option>
                                      <option value="6">구</option>
                                      <option value="7">구</option>
                                      <option value="8">구</option>
                                      <option value="9">구</option>
                                      <option value="10">구</option>
                                      <option value="11">구</option>
                                      <option value="12">구</option>
                                      <option value="13">구</option>
                                      <option value="14">구</option>
                                      <option value="15">구</option>
                                      <option value="16">구</option>
                                    </select>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="each-info">
                          <div class="info-title">
                            가격
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      class="price-input"
                                      placeholder="1인당 가격을 입력하세요"
                                      name="price-input"
                                    />
                                    <span class="price-index">원</span>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            인원
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      class="price-input"
                                      placeholder="수업 인원을 입력하세요"
                                      name="price-input"
                                    />
                                    <span class="price-index">명</span>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title" id="start-date">
                            시작일자
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      type="date"
                                      class="start-date"
                                      name="date-input"
                                    />
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            마감일자
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      type="date"
                                      class="end-date"
                                      name="date-input"
                                    />
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="each-info">
                          <div class="info-title">
                            시작 시간
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="info-dropdown-container">
                                      <div class="info-dropdown-inner">
                                        <span class="info-dropdown-box">
                                          <div class="info-list-wrap">
                                            <input
                                              type="time"
                                              min="9:00"
                                              max="21:00"
                                              step="9000"
                                              class="time-input"
                                              name="time-input"
                                            />
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            종료 시간
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="info-dropdown-container">
                                      <div class="info-dropdown-inner">
                                        <span class="info-dropdown-box">
                                          <div class="info-list-wrap">
                                            <input
                                              type="time"
                                              min="9:00"
                                              max="21:00"
                                              step="9000"
                                              class="time-input"
                                              name="time-input"
                                            />
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            요일 반복
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="weekday-selection">월</div>
                                    <div class="weekday-selection">화</div>
                                    <div class="weekday-selection">수</div>
                                    <div class="weekday-selection">목</div>
                                    <div class="weekday-selection">금</div>
                                    <div class="weekday-selection">토</div>
                                    <div class="weekday-selection">일</div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            시간 반복
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="time-selection">30분</div>
                                    <div class="time-selection">1시간</div>
                                    <div class="time-selection">2시간</div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="upload-wrap">
                <div class="prev-img-box">
                  <img
                    src="../../staticfiles/images/cancel.png"
                    class="cancel"
                    width="30px"
                    height="30px"
                    alt=""
                  />
                </div>
                <div class="upload-container">
                  <input
                    type="file"
                    id="img-file"
                    name="img-file"
                    style="display: none"
                  />
                  <label
                    for="img-file"
                    style="cursor: pointer"
                    class="upload-btn"
                  >
                    <p class="top-text-box">
                      <span class="top-text"
                        >강의 관련 사진을 업로드해주세요.</span
                      >
                    </p>
                    <p class="bottom-text-box">
                      *권장 사이즈<br />모바일: 1920 x 1920, 최소 1400 x
                      1400(1:1 비율)<br />PC: 1920 x 1080, 최소 1400 x 787(16:9
                      비율)<br />
                    </p>
                    <div class="cover-add-coment">사진 추가하기</div>
                  </label>
                </div>
              </div>
              <div class="title-input-box">
                <input
                  type="text"
                  placeholder="제목을 입력해주세요."
                  maxlength="80"
                  class="title-input"
                  value=""
                />
                <div class="title-count"><span class="count">0</span> / 80</div>
              </div>
            </div>
          </div>
          <div class="content-text-input-wrap">
            <div class="content-text-input-container">
              <div class="content-text-input-inner">
                <div class="content-text-input-box">
                  <div class="mark-icon-wrap">
                    <div class="mark-icon-container">
                      <div class="mark-icon-box">
                        <button
                          type="button"
                          title="도구"
                          class="mark-icon-btn"
                        >
                          <svg
                            class="svg-icon"
                            style="
                              width: 27px;
                              height: 27px;
                              vertical-align: middle;
                              fill: currentColor;
                              overflow: hidden;
                            "
                            viewBox="0 0 1024 1024"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M682.666667 533.333333a21.333333 21.333333 0 0 1-15.146667-6.186666l-298.666667-298.666667a21.333333 21.333333 0 0 1 30.293334-30.293333l298.666666 298.666666a21.333333 21.333333 0 0 1 0 30.293334A21.333333 21.333333 0 0 1 682.666667 533.333333z"
                              fill="#333333"
                            />
                            <path
                              d="M384 832a21.333333 21.333333 0 0 1-15.146667-6.186667 21.333333 21.333333 0 0 1 0-30.293333l298.666667-298.666667a21.333333 21.333333 0 0 1 30.293333 30.293334l-298.666666 298.666666A21.333333 21.333333 0 0 1 384 832z"
                              fill="#333333"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <p
                    class="content-text-area"
                    contenteditable="true"
                    data-ph="내용을 입력해주세요."
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/staticfiles/js/class/class-upload.js"></script>
</html>
