<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="../../staticfiles/css/common.css" />
    <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
    <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
    <link
      rel="stylesheet"
      href="../../staticfiles/css/class/class-upload.css"
    />
    <link
      rel="shortcut icon"
      href="/staticfiles/images/favicon.png"
      type="image/x-icon"
    />
    <title>수강포스팅</title>
  </head>

  <body>
    <div class="layout-wrap">
      <div class="layout-container">
        <div
          class="sticky-header-wrap"
          style="
            position: sticky;
            top: 0px;
            transition: top 0.1s ease 0s;
            z-index: 500;
          "
        >
          <div class="sticky-header-container" style="position: relative">
            <div class="sticky-header-inner">
              <div class="contents-button-wrap">
                <a href="/main" aria-label="selleaf" class="logo-wrap">
                  <img
                    class="logo"
                    src="/staticfiles/images/logo-lettering-blk.png"
                    alt=""
                  />
                </a>
                <!-- <div class="contents-button-container">
                                <div class="contents-button-inner">
                                    <button class="add-picture" aria-pressed="false" title="사진추가" type="button">
                                        <svg class="icon" viewBox="0 0 29 29" height="29" width="29" preserveAspectRatio="xMidYMid meet"><g fill-rule="evenodd" fill="none"><rect rx="4" height="29" width="29"></rect><g stroke-width="1.6" stroke="#525b61" transform="translate(4 4)"><rect rx="4" height="19.4" width="19.4" y=".8" x=".8"></rect><path stroke-linejoin="round" d="M.8 15.24L5.98 9.7l7.11 6.11 3.88-3.05 3.23 2.5"></path><circle r="2.03" cy="6.87" cx="14.13"></circle></g></g></svg>
                                    </button>
                                    <span class="break-line"></span>
                                    <div class="command-list-dropdown">
                                        <button class="command-list" disabled aria-pressed="false" type="button">
                                            <span class="command-letter">본문</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" class="dropdown-icon"><path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path></svg>
                                        </button>
                                    </div>
                                    <span class="break-line"></span>
                                    <button class="letter-style" disabled aria-pressed="false" title="굵게">
                                        <svg class="icon" width="29" height="29" viewBox="0 0 29 29" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><rect width="29" height="29" rx="4"></rect><path d="M8 6h5.46c2.49 0 4.3.34 5.42 1.03 1.13.68 1.69 1.77 1.69 3.27.04.89-.22 1.76-.74 2.5a2.96 2.96 0 01-1.96 1.17v.12c1.11.24 1.9.69 2.39 1.35.52.77.78 1.7.73 2.62a4.27 4.27 0 01-1.73 3.64c-1.16.87-2.73 1.3-4.71 1.3H8zm3.72 6.73h2.16c1.01 0 1.74-.15 2.2-.45.47-.36.73-.92.68-1.5a1.49 1.49 0 00-.74-1.4 4.94 4.94 0 00-2.34-.43h-1.96zm0 2.86V20h2.43c1.02 0 1.78-.19 2.26-.57.52-.43.79-1.08.73-1.74 0-1.4-1.04-2.11-3.12-2.11z" fill="#525b61" fill-rule="nonzero"></path></g></svg>
                                    </button>
                                    <button class="letter-style" disabled aria-pressed="false" title="이탤릭">
                                        <svg class="icon" viewBox="0 0 29 29" height="29" width="29" preserveAspectRatio="xMidYMid meet"><g fill-rule="evenodd" fill="none"><rect rx="4" height="29" width="29"></rect><g fill="#525b61" transform="translate(9 5)"><rect rx="1" height="2" width="8" y="16"></rect><rect rx="1" height="2" width="8" y="1" x="3"></rect><rect rx="1" height="17" width="2" y="1.04" x="4.55" transform="rotate(10 5.55 9.54)"></rect></g></g></svg>
                                    </button>
                                    <button class="letter-style" disabled aria-pressed="false" title="밑줄">
                                        <svg class="icon" viewBox="0 0 29 29" height="29" width="29" preserveAspectRatio="xMidYMid meet"><g fill-rule="evenodd" fill="none"><rect rx="4" height="29" width="29"></rect><g transform="translate(6 7)"><path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.1" stroke="#525b61" d="M3.19 0v5.35c0 3.5 2.38 6.34 5.31 6.34 2.93 0 5.31-2.84 5.31-6.34V0"></path><rect rx="1" height="2.13" width="17" y="14.88" fill="#525b61"></rect></g></g></svg>
                                    </button>
                                    <span class="break-line"></span>
                                    <div class="command-list-dropdown">
                                        <button class="command-list" disabled aria-pressed="false" type="button">
                                            <svg class="icon" width="29" height="29" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="8.5" fill="#424242"></circle><path fill="#424242" d="M10.75 10.59v1.07h3.01c-.24 2.04-1.38 3.5-3.52 4.6l.74 1.01a6.92 6.92 0 004.11-6.68zm8.08 2.57h-1.29V9.64h-1.32v9.2h1.32v-4.59h1.29z"></path></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" class="dropdown-icon"><path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path></svg>
                                        </button>
                                    </div>
                                    <span class="break-line"></span>
                                    <div class="command-list-dropdown">
                                        <button class="command-list" disabled aria-pressed="false" type="button" title="정렬">
                                            <svg class="icon" width="29" height="29" viewBox="0 0 29 29" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><rect width="29" height="29" rx="4"></rect><g transform="translate(6 6)" fill="#525b61" fill-rule="nonzero"><rect width="16.98" height="1.7" rx=".85"></rect><rect y="4.77" width="12.73" height="1.7" rx=".85"></rect><rect y="9.54" width="16.98" height="1.7" rx=".85"></rect><rect y="14.65" width="8.49" height="1.7" rx=".85"></rect></g></g></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" class="dropdown-icon"><path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path></svg>
                                        </button>
                                    </div>
                                    <span class="break-line"></span>
                                    <div class="command-list-dropdown">
                                        <button class="command-link" disabled aria-pressed="false" type="button" title="링크">
                                            <svg class="icon" viewBox="0 0 29 29" height="29" width="29" preserveAspectRatio="xMidYMid meet"><g fill-rule="evenodd" fill="none"><rect rx="4" height="29" width="29"></rect><path fill-rule="nonzero" fill="#525b61" stroke-width=".2" stroke="#525b61" d="M14.24 8.82l2.51-2.52a4.37 4.37 0 012.7-1.29 4.24 4.24 0 014.5 3.6 4.25 4.25 0 01-1.19 3.62l-4.24 4.24a4.2 4.2 0 01-5.98 0 2.47 2.47 0 01-.33-.37.64.64 0 01.07-.88v0a.68.68 0 011 .05 2.85 2.85 0 002.28 1.1c.75 0 1.49-.3 2.04-.85l4.2-4.2c.5-.5.82-1.15.9-1.84a2.92 2.92 0 00-1.99-3.02 2.93 2.93 0 00-2.95.72l-1.9 1.91-.68.67a.68.68 0 01-.94 0v0a.68.68 0 010-.94zm.48 11.4a.68.68 0 000-.94v0a.68.68 0 00-.94 0l-2.53 2.53a2.89 2.89 0 01-2.93.72 2.9 2.9 0 01-1.15-4.8l4.26-4.26a2.85 2.85 0 012.05-.85c.78 0 1.5.3 2.05.85l.28.3c.23.32.69.37.99.1l.02-.03a.66.66 0 00.07-.85 4.15 4.15 0 00-3.64-1.68 4.38 4.38 0 00-2.79 1.28l-4.23 4.2A4.24 4.24 0 009.22 24a4.2 4.2 0 003-1.24z"></path></g></svg>
                                        </button>
                                    </div>
                                    <span class="break-line"></span>
                                    <div class="command-list-dropdown">
                                        <button class="command-add-element" disabled aria-pressed="false" type="button" title="추가">
                                            <svg class="icon" viewBox="0 0 29 29" height="29" width="29" preserveAspectRatio="xMidYMid meet"><g fill-rule="evenodd" fill="none"><rect rx="4" height="29" width="29"></rect><path d="M14.5 7.07a.8.8 0 00-.81.8v5.8H7.8a.8.8 0 00-.81.8c0 .44.36.8.81.8h5.88v5.8c0 .44.36.8.81.8a.8.8 0 00.81-.8v-5.8h5.88a.8.8 0 00.81-.8.8.8 0 00-.81-.8H15.3v-5.8a.8.8 0 00-.81-.8z" fill-rule="nonzero" fill="#525b61"></path></g></svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" class="dropdown-icon"><path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path></svg>
                                        </button>
                                    </div>

                                </div>
                            </div> -->
                <div class="save-button-wrap">
                  <div class="save-button-container">
                    <div class="temporary-save-wrap">
                      <div class="temporary-save-container">
                        <button type="button" disabled class="temporary-save">
                          <span class="temporary-save-letter">임시저장</span>
                          <span class="save-letter">저장</span>
                        </button>
                      </div>
                    </div>
                    <button type="button" class="establish">
                      <span class="establish-ask-letter">등록하기</span>
                      <span class="establish-letter">등록</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="upload-main-wrap">
          <div class="upload-main-container">
            <div class="upload-guide-wrap">
              <div class="upload-guide-container">
                <button
                  type="button"
                  id="guide-header"
                  aria-labelledby="guide-content"
                  aria-expanded="false"
                  class="guide-button"
                >
                  <div class="guide-letter-wrap">
                    <div class="guide-icon-wrap">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        class="icon"
                      >
                        <rect
                          width="25"
                          height="25"
                          fill="#97a38c"
                          rx="10"
                        ></rect>
                        <g fill="#FFF" transform="translate(7 8)">
                          <rect width="7" height="1.5" rx="0.8"></rect>
                          <rect width="11" height="1.5" y="4" rx="0.8"></rect>
                          <rect width="11" height="1.5" y="8" rx="0.8"></rect>
                        </g>
                      </svg>
                    </div>
                    <div class="guide-title">강의 등록 가이드</div>
                    <div class="guide-notice">강의 등록시 꼭 읽어주세요.</div>
                  </div>
                  <div class="dropdown-icon-wrap">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="dropdown-icon"
                    >
                      <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"
                      ></path>
                    </svg>
                  </div>
                </button>
                <div class style="overflow: hidden"></div>
                <div class="off">
                  <div class="guide-expended" role="region" id="guide-content">
                    <ul class="guide-list">
                      <li>
                        셀리프에서 진행하는 강의의 경우,
                        <strong>누구나 강사가 될 수 있습니다.</strong>
                      </li>
                      <li>
                        강의 장소는 강사님의 이 지정하되 강의에 부적합하다고
                        판단되는 경우 <strong>강의 게시글이 삭제</strong>될 수
                        있음을 안내드립니다.
                      </li>
                      <li>
                        강의를 진행하는 동안에 이루어지는 일에 대한 책임은
                        강사에게 있으며, 셀리프는 강의에 대한 중개만을 담당함을
                        알려드립니다.
                      </li>
                      <li>
                        아래 필수 정보를 입력하지 않으면 강의가 개설되지
                        않습니다. 필수정보는 꼼꼼하게 입력해주세요.
                        <ul>
                          <li>
                            강의 정보 등록 가이드 (<a
                              href="https://ohouse.notion.site/462aa06a36e14eefa3930a4d424a7f33"
                              target="_blank"
                              rel="noopener noreferrer"
                              >바로가기</a
                            >)
                          </li>
                        </ul>
                      </li>
                      <li>
                        사진 첨부 시 용량은 장당 최대 20MB까지 업로드할 수 있고,
                        jpg, png, webp, heif, heic, gif 포맷을 지원합니다.
                      </li>
                      <li>
                        글 작성과 이미지 업로드 시, 타인의 지식재산권을 침해하지
                        않도록 유의해 주세요.
                      </li>
                      <li>
                        강의는 작성해주신 초안을 바탕으로 내부의 검수, 태그
                        작업을 거쳐서 발행되고 있습니다. 이에 따라 내용이 변경될
                        수 있습니다.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="upload-guide-container">
                <button
                  type="button"
                  id="required-info-header"
                  aria-labelledby="required-info-content"
                  aria-expanded="false"
                  class="guide-button"
                >
                  <div class="guide-letter-wrap">
                    <div class="guide-icon-wrap">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="26"
                        height="26"
                        viewBox="0 0 26 26"
                        class="icon"
                      >
                        <rect
                          width="26"
                          height="26"
                          fill="#c06888"
                          rx="10"
                        ></rect>
                        <g fill="none" stroke="#FFF">
                          <path
                            stroke-linejoin="round"
                            stroke-width="1.2"
                            d="M15.06 8.65l-6.9 6.88L7 18.98l3.45-1.15 6.9-6.9-2.3-2.28z"
                          ></path>
                          <path
                            stroke-width="1.2"
                            d="M15.04 8.64l1.45-1.45a.65.65 0 01.93 0l1.37 1.38a.65.65 0 010 .92l-1.45 1.45"
                          ></path>
                          <path d="M8.27 15.2l2.48 2.47"></path>
                        </g>
                      </svg>
                    </div>
                    <div class="guide-title">필수정보 입력창</div>
                    <div class="guide-notice">꼭 필요한 정보입니다.</div>
                  </div>
                  <div class="dropdown-icon-wrap">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      viewBox="0 0 16 16"
                      class="dropdown-icon"
                    >
                      <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"
                      ></path>
                    </svg>
                  </div>
                </button>
                <div class style="overflow: hidden"></div>
                <!-- class 수정, css 추가 -->
                <div class="required-off">
                  <div class="info-expended" style="overflow: hidden">
                    <div
                      role="hidden"
                      id="info-contents"
                      aria-labelledby="info-header"
                      class="info-wrap"
                    >
                      <div class="info-container">
                        <div class="each-info">
                          <div class="info-title">
                            강의구분
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <select
                                      name="product-index"
                                      class="product-index"
                                    >
                                      <option
                                        value="unselected"
                                        disabled
                                        selected
                                      >
                                        선택해주세요.
                                      </option>
                                      <option value="0">리스/트리</option>
                                      <option value="1">
                                        바구니/센터피스/박스
                                      </option>
                                      <option value="2">가드닝/테라리움</option>
                                      <option value="3">기타</option>
                                    </select>
                                  </div>
                                </span>
                              </div>
                            </div>
                            <span
                              class="alert"
                              style="display: none; color: #c06888"
                              >필수 입력창 입니다.</span
                            >
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            식물구분
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <select
                                      name="product-index"
                                      class="product-index"
                                    >
                                      <option
                                        value="unselected"
                                        disabled
                                        selected
                                      >
                                        선택해주세요.
                                      </option>
                                      <option value="0">관엽식물</option>
                                      <option value="1">침엽식물</option>
                                      <option value="2">희귀식물</option>
                                      <option value="3">다육/선인장</option>
                                      <option value="3">테라리움</option>
                                      <option value="3">기타</option>
                                    </select>
                                  </div>
                                </span>
                              </div>
                            </div>
                            <span
                              class="alert"
                              style="display: none; color: #c06888"
                              >필수 입력창 입니다.</span
                            >
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            가격
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      class="price-input"
                                      placeholder="1인당 가격을 입력하세요"
                                      name="price-input"
                                    />
                                    <span class="price-index">원</span>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            인원
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      class="price-input"
                                      placeholder="수업 인원을 입력하세요"
                                      name="price-input"
                                    />
                                    <span class="price-index">명</span>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title" id="start-date">
                            시작일자
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      type="date"
                                      class="start-date"
                                      name="date-input"
                                    />
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            마감일자
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap">
                                    <input
                                      type="date"
                                      class="end-date"
                                      name="date-input"
                                    />
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="each-info">
                          <div class="info-title">
                            시작 시간
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="info-dropdown-container">
                                      <div class="info-dropdown-inner">
                                        <span class="info-dropdown-box">
                                          <div class="info-list-wrap">
                                            <input
                                              type="time"
                                              min="9:00"
                                              max="21:00"
                                              step="9000"
                                              class="time-input"
                                              name="time-input"
                                            />
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            종료 시간
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="info-dropdown-container">
                                      <div class="info-dropdown-inner">
                                        <span class="info-dropdown-box">
                                          <div class="info-list-wrap">
                                            <input
                                              type="time"
                                              min="9:00"
                                              max="21:00"
                                              step="9000"
                                              class="time-input"
                                              name="time-input"
                                            />
                                          </div>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            요일 반복
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="weekday-selection">월</div>
                                    <div class="weekday-selection">화</div>
                                    <div class="weekday-selection">수</div>
                                    <div class="weekday-selection">목</div>
                                    <div class="weekday-selection">금</div>
                                    <div class="weekday-selection">토</div>
                                    <div class="weekday-selection">일</div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="info-title">
                            시간 반복
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-dropdown-wrap">
                                    <div class="time-selection">30분</div>
                                    <div class="time-selection">1시간</div>
                                    <div class="time-selection">2시간</div>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="each-info">
                          <div class="info-title">
                            DIY키트
                            <span class="required">*</span>
                          </div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap" id="diy-kit">
                                    <input
                                      class="diy-input"
                                      placeholder="상품이름을 입력하세요"
                                      name="diy-input"
                                    />
                                  </div>
                                </span>
                                <span>최대 2개까지 입력가능합니다.</span>
                              </div>
                            </div>
                          </div>
                          <div class="add-cancel">
                            <button
                              type="button"
                              title="추가"
                              class="add-button"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="29"
                                height="29"
                                viewBox="-3 -5 29 29"
                                class="icon"
                              >
                                <path
                                  d="M10.8 3.8v5H5.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h5.1v5c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-5h5.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-5.1v-5c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7z"
                                  fill="#525B61"
                                  stroke="#525B61"
                                  stroke-width="0.5"
                                ></path>
                              </svg>
                            </button>
                            <button
                              type="button"
                              title="삭제"
                              class="cancel-button"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="29"
                                height="29"
                                viewBox="-3 -11 29 29"
                                class="icon"
                              >
                                <path
                                  d="M10.8 2.8H5.7c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h11.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-6.5z"
                                  fill="#525B61"
                                  stroke="#525B61"
                                  stroke-width="0.5"
                                ></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                        <div class="add-diy-kit">
                          <div class="info-title"></div>
                          <div class="info-dropdown-wrap">
                            <div class="info-dropdown-container">
                              <div class="info-dropdown-inner">
                                <span class="info-dropdown-box">
                                  <div class="info-list-wrap" id="diy-kit">
                                    <input
                                      class="diy-input"
                                      placeholder="상품이름을 입력하세요"
                                      name="diy-input"
                                    />
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="upload-wrap">
                <div class="prev-img-box">
                  <img
                    src="../../staticfiles/images/cancel.png"
                    class="cancel"
                    width="30px"
                    height="30px"
                    alt=""
                  />
                </div>
                <div class="upload-container">
                  <input
                    type="file"
                    id="img-file"
                    name="img-file"
                    style="display: none"
                  />
                  <label
                    for="img-file"
                    style="cursor: pointer"
                    class="upload-btn"
                  >
                    <p class="top-text-box">
                      <span class="top-text"
                        >강의 관련 사진을 업로드해주세요.</span
                      >
                    </p>
                    <p class="bottom-text-box">
                      *권장 사이즈<br />모바일: 1920 x 1920, 최소 1400 x
                      1400(1:1 비율)<br />PC: 1920 x 1080, 최소 1400 x 787(16:9
                      비율)<br />
                    </p>
                    <div class="cover-add-coment">사진 추가하기</div>
                  </label>
                </div>
              </div>
              <div class="title-input-box">
                <input
                  type="text"
                  placeholder="제목을 입력해주세요."
                  maxlength="80"
                  class="title-input"
                  value=""
                />
                <div class="title-count"><span class="count">0</span> / 80</div>
              </div>
            </div>
          </div>
          <div class="content-text-input-wrap">
            <div class="content-text-input-container">
              <div class="content-text-input-inner">
                <div class="content-text-input-box">
                  <div class="mark-icon-wrap">
                    <div class="mark-icon-container">
                      <div class="mark-icon-box">
                        <button
                          type="button"
                          title="도구"
                          class="mark-icon-btn"
                        >
                          <svg
                            class="svg-icon"
                            style="
                              width: 27px;
                              height: 27px;
                              vertical-align: middle;
                              fill: currentColor;
                              overflow: hidden;
                            "
                            viewBox="0 0 1024 1024"
                            version="1.1"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M682.666667 533.333333a21.333333 21.333333 0 0 1-15.146667-6.186666l-298.666667-298.666667a21.333333 21.333333 0 0 1 30.293334-30.293333l298.666666 298.666666a21.333333 21.333333 0 0 1 0 30.293334A21.333333 21.333333 0 0 1 682.666667 533.333333z"
                              fill="#333333"
                            />
                            <path
                              d="M384 832a21.333333 21.333333 0 0 1-15.146667-6.186667 21.333333 21.333333 0 0 1 0-30.293333l298.666667-298.666667a21.333333 21.333333 0 0 1 30.293333 30.293334l-298.666666 298.666666A21.333333 21.333333 0 0 1 384 832z"
                              fill="#333333"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <p
                    class="content-text-area"
                    contenteditable="true"
                    data-ph="내용을 입력해주세요."
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/staticfiles/js/class/class-upload.js"></script>
</html>
