<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="/staticfiles/css/common.css" />
    <link
      rel="stylesheet"
      href="/staticfiles/css/student-list/student-list.css"
    />
    <link
      rel="shortcut icon"
      href="/staticfiles/images/favicon.png"
      type="image/x-icon"
    />
    <title>수강생 목록</title>
  </head>
  <body>
    <div class="layout">
      <header></header>
      <!-- 전체 목록 -->
      <div class="notice-container">
        <div style="display: flex; justify-content: space-between">
          <h1 class="notice-title">수강생 목록</h1>
          <!-- 검색창 -->
          <div class="header-fourth-inner-firstdiv">
            <div
              id="global-search-combobox"
              role="combobox"
              aria-expanded="false"
              aria-haspopup="listbox"
              class="header-fourth-inner-seconddiv"
            >
              <div class="header-fourth-inner-thirddiv">
                <span class="hearder-inner-thirddiv-span"> </span>
                <input
                  type="text"
                  placeholder="이름 검색"
                  autocomplete="off"
                  aria-autocomplete="list"
                  class="hearder-inner-thirddiv-input"
                  value=""
                />
                <div class="hearder-inner-thirddiv-div">
                  <button
                    type="button"
                    tabindex="0"
                    class="header-input-xbutton"
                  >
                    <span class="header-input-xbutton-span"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="notice-wrap">
          <!--  -->
          <section>
            <!-- 각 컬럼 제목 -->
            <div>
              <div class="student-list-title-wrap">
                <div class="list-titles">대표 예약자명</div>
                <div class="list-titles">수강 인원</div>
                <div class="list-titles">수강 날짜</div>
                <div class="list-titles offline-title">수강 시간</div>
                <div class="list-titles online-title" style="display: none">
                  선택 키트
                </div>
              </div>
            </div>
            <!-- 한 칸 시작 -->
            <div>
              <div class="class-histories-wrap">
                <div class="class-history-items">김광협</div>
                <div class="class-history-items">1명</div>
                <div class="class-history-items">2024년 02월 20일</div>
                <div class="class-history-items offline">10:30</div>
                <div class="class-history-items online" style="display: none">
                  키트 이름 1
                </div>
              </div>
              <!-- 여기에는 내역 누르면 펼쳐지는 동반 수강생 명단 표시 -->
              <div class="student-list-wrap">
                <div class="student-list-container">
                  <ul class="student-list">
                    <li class="student-list-items">김광협</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 한칸 끝 -->
            <!-- 새로운 내역 -->
            <div>
              <div class="class-histories-wrap">
                <div class="class-history-items">조은종</div>
                <div class="class-history-items">2명</div>
                <div class="class-history-items">2024년 02월 20일</div>
                <div class="class-history-items offline">10:30</div>
                <div class="class-history-items online" style="display: none">
                  키트 이름 1
                </div>
              </div>
              <div class="student-list-wrap">
                <div class="student-list-container">
                  <ul class="student-list">
                    <li class="student-list-items">조은종</li>
                    <li class="student-list-items">김수빈</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 새로운 내역 -->
            <div>
              <div class="class-histories-wrap">
                <div class="class-history-items">강희주</div>
                <div class="class-history-items">3명</div>
                <div class="class-history-items">2024년 02월 20일</div>
                <div class="class-history-items offline">10:30</div>
                <div class="class-history-items online" style="display: none">
                  키트 이름 1
                </div>
              </div>
              <div class="student-list-wrap">
                <div class="student-list-container">
                  <ul class="student-list">
                    <li class="student-list-items">강희주</li>
                    <li class="student-list-items">백시현</li>
                    <li class="student-list-items">김규일</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 새로운 내역 -->
            <div>
              <div class="class-histories-wrap">
                <div class="class-history-items">김광협</div>
                <div class="class-history-items">3명</div>
                <div class="class-history-items">2024년 02월 20일</div>
                <div class="class-history-items offline">10:30</div>
                <div class="class-history-items online" style="display: none">
                  키트 이름 1
                </div>
              </div>
              <div class="student-list-wrap">
                <div class="student-list-container">
                  <ul class="student-list">
                    <li class="student-list-items">김광협</li>
                    <li class="student-list-items">조은종</li>
                    <li class="student-list-items">김규일</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- 새로운 내역 -->
            <div>
              <div class="class-histories-wrap">
                <div class="class-history-items">백시현</div>
                <div class="class-history-items">5명</div>
                <div class="class-history-items">2024년 02월 20일</div>
                <div class="class-history-items offline">10:30</div>
                <div class="class-history-items online" style="display: none">
                  키트 이름 1
                </div>
              </div>
              <div class="student-list-wrap">
                <div class="student-list-container">
                  <ul class="student-list">
                    <li class="student-list-items">백시현</li>
                    <li class="student-list-items">강희주</li>
                    <li class="student-list-items">김수빈</li>
                    <li class="student-list-items">김광협</li>
                    <li class="student-list-items">조은종</li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
          <!--  -->
        </div>
      </div>
    </div>
  </body>
  <script src="/staticfiles/js/student-list/student-list.js"></script>
</html>
