<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link
      rel="shortcut icon"
      href="../../staticfiles/images/selleaf.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../staticfiles/css/common.css" />
    <link
      rel="stylesheet"
      href="../../staticfiles/css/community/post-detail.css"
    />
    <title>게시물 상세보기</title>
  </head>
  <body>
    <div class="post-detail-wrap">
      <div class="post-detail-container">
        <div class="post-detail-inner">
          <div class="post-detail-box">
            <div class="content-wrap">
              <div class="content-container">
                <div class="content-sub-description-box">
                  <div class="content-sub-description">
                    <button class="content-top-btn">30평대</button>
                    <button class="content-top-btn"></button>
                  </div>
                </div>
                <div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        >
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        ><a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="content-data-wrap">
                  <div>
                    <div class="content-data-container">
                      <dl class="content-data">
                        <span class="week-data">2주</span>
                        <dt class="like">좋아요</dt>
                        <dd class="like-data">446</dd>
                        <dt class="scrap">스크랩</dt>
                        <dd class="scrap-data">27</dd>
                        <dt class="check">조회</dt>
                        <dd class="check-data">3,624</dd>
                      </dl>
                      <div class="declaration-btn-box">
                        <button type="button" class="declaration-btn">
                          신고하기
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uploader-data-wrap">
                  <button class="uploader-data">
                    <figure class="e1y3nubp6 css-vmm3h5">
                      <img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/170410117290522562.jpeg?w=50"
                        height="0"
                        class="css-yev0yd"
                      />
                    </figure>
                    <div class="css-1isemmb e1y3nubp5">
                      <span class="css-s8ps1f e1y3nubp4">서원이네_</span
                      ><span class="css-13qg9ld e1y3nubp2"
                        >#오플루언서 오하우스시즌7,8,10 ...</span
                      >
                    </div>
                  </button>
                  <button class=""></button>
                </div>
              </div>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
