<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 여기서부터 -->
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link rel="stylesheet" href="../../staticfiles/css/common.css" />
    <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
    <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
    <link rel="stylesheet" href="../../staticfiles/css/notice/notice.css" />
    <link
      rel="shortcut icon"
      href="../../../../staticfiles/images/selleaf.png"
      type="image/x-icon"
    />
    <title>공지사항</title>
  </head>
  <body>
    <div class="notice-wrap">
      <div class="notice-container">
        <div class="notice-inner">
          <div class="help-wrap">
            <div class="help-container">
              <div class="help-inner">
                <h2 class="help-text">무엇을 도와드릴까요?</h2>
                <ul>
                  <li class="help-example">
                    <a
                      href="https://ohou.se/customer_center#%EB%B0%B0%EC%86%A1%EA%B4%80%EB%A0%A8__%EB%B0%B0%EC%86%A1%EC%9D%80+%EC%96%BC%EB%A7%88%EB%82%98+%EA%B1%B8%EB%A6%AC%EB%82%98%EC%9A%94"
                    >
                      <span class="help-q">Q</span>
                      배송은 얼마나 걸리나요?
                    </a>
                  </li>
                  <li class="help-example">
                    <a
                      href="https://ohou.se/customer_center#%EC%B7%A8%EC%86%8C+%ED%99%98%EB%B6%88__%EC%A3%BC%EB%AC%B8+%EC%B7%A8%EC%86%8C%EB%8A%94+%EC%96%B4%EB%96%BB%EA%B2%8C+%ED%95%98%EB%82%98%EC%9A%94"
                    >
                      <span class="help-q">Q</span>
                      주문 취소는 어떻게 하나요?
                    </a>
                  </li>
                  <li class="help-example">
                    <a
                      href="https://ohou.se/customer_center#%EC%84%9C%EB%B9%84%EC%8A%A4+%EA%B8%B0%ED%83%80__%EC%A0%9C%ED%92%88%EC%9D%98+%EC%9E%90%EC%84%B8%ED%95%9C+%EC%A0%95%EB%B3%B4%EB%8A%94+%EC%96%B4%EB%96%BB%EA%B2%8C+%EC%95%8C+%EC%88%98+%EC%9E%88%EB%82%98%EC%9A%94"
                    >
                      <span class="help-q">Q</span>
                      제품의 자세한 정보를 알고싶어요.
                    </a>
                  </li>
                  <li class="help-example">
                    <a
                      href="https://ohou.se/customer_center#%EB%B0%98%ED%92%88+%EA%B5%90%ED%99%98__%EC%A0%9C%ED%92%88%EC%9D%B4+%EB%B6%88%EB%9F%89%EC%9E%85%EB%8B%88%EB%8B%A4.+%EB%B0%98%ED%92%88+%ED%98%B9%EC%9D%80+%EA%B5%90%ED%99%98%EC%9D%80+%EC%96%B4%EB%96%BB%EA%B2%8C+%ED%95%98%EB%82%98%EC%9A%94"
                    >
                      <span class="help-q">Q</span>
                      제품이 불량일 때는?
                    </a>
                  </li>
                  <li class="help-example">
                    <a
                      href="https://ohou.se/customer_center#%EB%A1%9C%EA%B7%B8%EC%9D%B8+%ED%9A%8C%EC%9B%90%EC%A0%95%EB%B3%B4__%EC%B9%B4%EC%B9%B4%EC%98%A4+%EA%B3%84%EC%A0%95%EC%9C%BC%EB%A1%9C+%EB%A1%9C%EA%B7%B8%EC%9D%B8+%ED%95%98%EB%A9%B4+&#39;%EC%9D%B4%EB%AF%B8+%EC%B9%B4%EC%B9%B4%EC%98%A4%EB%A1%9C+%EA%B0%80%EC%9E%85%ED%95%98%EC%8B%A0+%EC%9D%B4%EB%A9%94%EC%9D%BC%EC%9E%85%EB%8B%88%EB%8B%A4&#39;+%EB%9D%BC%EA%B3%A0+%EB%82%98%EC%98%A4%EB%8A%94%EB%8D%B0+%EC%96%B4%EB%96%BB%EA%B2%8C+%ED%95%B4%EC%95%BC+%ED%95%98%EB%82%98%EC%9A%94"
                    >
                      <span class="help-q">Q</span>
                      카카오 계정으로 로그인하면 이미 가입되었다고 합니다.
                    </a>
                  </li>
                </ul>
              </div>
              <hr class="help-between-center" />
              <div class="center">
                <h2 class="center-time">
                  고객센터
                  <span class="time">09:00 ~ 18:00</span>
                </h2>
                <div class="center-days">평일: 전체 문의 상담</div>
                <div class="center-days">
                  토요일, 공휴일: 오늘의집 직접배송, 이사/시공/제품설치 문의
                  상담
                </div>
                <div class="center-days">일요일: 휴무</div>
                <div class="center-number">
                  <p class="center-number">
                    <span class="center-number">
                      <img
                        src="../../staticfiles/images/blank-image.png"
                        alt=""
                        style="width: 24px"
                      />
                    </span>
                    <strong>1670-0876</strong>
                  </p>
                </div>
                <div class="center-contact">
                  <button class="kakao">1:1 카톡 상담하기</button>
                  <a href="https://ohou.se/contacts/new" class="contact-email"
                    >이메일 문의하기</a
                  >
                  <button class="contact-email">이메일 주소 복사하기</button>
                </div>
              </div>
            </div>
            <hr class="halfline" />
            <div class="benner-wrap" style="z-index: 10">
              <nav
                class="benner-container"
                style="position: relative; z-index: 10"
              >
                <label class="benner-inner-2 benner-inner-1" for="공지사항">
                  <input
                    id="공지사항"
                    type="checkbox"
                    class="benner-button-1"
                  />
                  <span class="benner-button-1">공지사항</span>
                </label>
                <label class="benner-inner-2" for="Q&A">
                  <input id="Q&A" type="checkbox" class="benner-button-2" />
                  <span class="benner-button-2">Q&A</span>
                </label>
              </nav>
            </div>
            <div id="question_list_section" class="list-wrap">
              <ul class="list-container">
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
                <li class="list-inner-box">
                  <h3 class="list-inner">
                    <button class="list-q">
                      <span class="question-q">Q</span>
                      <span class="question-text"
                        >주문 내역은 어떻게 확인할 수 있나요?</span
                      >
                      <span class="question-v"></span>
                    </button>
                  </h3>
                  <div class="question">
                    <p>
                      우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인
                      가능합니다
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../staticfiles/js/notice/notice.js"></script>
</html>
