@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.except-header-wrap {
  height: calc(100% - 120px);
  margin: 40px auto 0px;
  padding: 0px 16px;
  box-sizing: border-box;
}

.except-header-container {
  position: relative;
  height: 100%;
}

.info-text {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 20px;
}

.email-input-wrap {
  border: 1px solid rgb(219, 219, 219);
  padding: 6px 16px;
  margin: 12px 0px 28px;
}

.email-input-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.email-input-area {
  padding: 0;
  box-shadow: none;
  border: none;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  width: 100%;
  margin: 0;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  line-height: 21px;
  transition: border-color 0.1s, background-color 0.1s;
  resize: none;
}

.email-input-area:focus {
  outline: 0;
}

.email-input:hover:not(:focus) {
  background-color: #fafafa;
}

.email-input-button {
  user-select: none;
  display: inline-block;
  margin: 0;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
  background-color: #97a38c;
  border-color: #97a38c;
  color: #fff;
}

.email-input-button:disabled {
  background-color: #c4cebb;
  border-color: #c4cebb;
  color: #fff;
  cursor: default;
}

.email-input-button:hover:not(:disabled) {
  border-color: rgb(99, 112, 88);
  background-color: rgb(99, 112, 88);
}

.not-verified {
  color: rgb(255, 119, 119);
  font-size: 12px;
  padding: 6px 0px;
}

.verify-button {
  user-select: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 10px;
  line-height: 20px;
  font-size: 17px;
  min-height: 50px;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  background-color: #97a38c;
  border-color: #97a38c;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.verify-button:disabled {
  background-color: #c4cebb;
  border-color: #c4cebb;
  color: #fff;
  cursor: default;
}

.verify-button:hover:not(:disabled) {
  border-color: rgb(99, 112, 88);
  background-color: rgb(99, 112, 88);
}

.need-help-wrap {
  width: 100%;
  height: 72px;
  line-height: 20px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #f7f8fa;
  -webkit-box-align: center;
}

.need-help {
  color: #97a38c;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

/* 웹에서 보는 화면은 이 사이즈로 적용 */
@media (min-width: 768px) {
  .except-header-wrap {
    width: 375px;
  }
}
