@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* 비밀번호 변경 페이지 내용 */
.password-update-page-wrap {
  width: 480px;
  padding: 40px;
  color: rgb(41, 41, 41);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
  margin: 50px auto;
}

.password-update-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.password-update-section {
  line-height: 1.5;
}

.section-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.password-input-wrap {
  padding: 20px 0px;
}

/* 미디어 쿼리 다수 있음 */
.password-input {
  transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  color: #424242;
  font-size: 15px;
  border-radius: 6px;
  text-align: left;
}

.password-input:hover {
  background-color: #fafafa;
  border-color: #bdbdbd;
}

.password-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(19, 79, 44, 0.5);
}

/* 에러 발생 시 테두리, focus 되었을 때의 box-shadow 색상 변경 */
.password-input.error {
  border-color: #d1180b;
}

.password-input.error:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 119, 119, 0.5);
}

.password-error-text,
.confirm-error-text {
  margin: 10px 0 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  color: #d1180b;
}

.error-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  vertical-align: -5px;
  filter: invert(63%) sepia(60%) saturate(1097%) hue-rotate(311deg)
    brightness(95%) contrast(114%);
}

.update-submit-button {
  user-select: none;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
  background-color: #134f2c;
  border-color: #134f2c;
  color: #fff;
  padding: 11px 10px;
  font-size: 17px;
  line-height: 26px;
  width: 100%;
}

.update-submit-button:hover {
  border-color: #97a38c;
  background-color: #97a38c;
}
