*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

body {
    margin: 0;
    line-height: inherit;
}

div {
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

[role=button], button {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
}

img {
    -o-object-fit: cover;
    object-fit: cover;
}

img, video {
    max-width: 100%;
    height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}

body.overflow-hidden{
    overflow-x: hidden;
    height: 100%;
}

div.next {
    min-height: 100%;
}

div.full-screen{
    flex-direction: column;
    height: 100vh;
    display: flex;
}

nav.benner-wrap{
    padding-left: 32px;
    padding-right: 32px;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    z-index: 20;
    left: 0;
    top: 0;
    position: sticky;
    background-color: #1d1d1e;
}

div.items-center{
    align-items: center;
    display: flex;
}

div.logo-between{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    fill: #fff;
}

div.manager-center{
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    fill: #fff;
}

div.user-icon{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

div.relative{
    position: relative;
}

button.user-icon{
    border-radius: 9999px;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: #e6e6e7;
}

img.user-icon{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    border-radius: 9999px;
}

div.under-container{
    overflow: hidden;
    height: 100%;
    display: flex;
}

nav.side-benner{
    border-width: 1px;
    flex-basis: 260px;
    position: relative;
    border-color: #e6e6e7;
    background-color: #fafafb;
}

div.profile-wrap{
    padding-bottom: 28px;
    padding-top: 40px;
    border-bottom-width: 1px;
    margin-left: 32px;
    margin-right: 32px;
    border-color: rgba(0,0,0,.06);
}

div.profile-container{
    align-items: center;
    flex-direction: column;
    display: flex;
}

div.profile-inner{
    margin-bottom: 12px;
}

button.profile-icon{
    width: 68px;
    height: 68px;
    outline: none;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

img.profile-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center center;
    color: transparent;
    border-radius: 9999px;
}

div.profile-under-cover{
    border-width: 1px;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-color: rgba(0,0,0,.1);
}

h2.profile-name{
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

button.mypage{
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 32px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border-color: rgba(0,0,0,.1);
    color: #333334;
    fill: #333334;
    background-color: #fff;
}

div.mypage-name{
    justify-content: center;
    align-items: center;
    display: flex;
}

svg.mypage-link{
    flex-shrink: 0;
    margin-left: 4px;

}

ul.side-function{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

li.function-wrap-1{
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
    background-color: #f2f0fc;
}

a.function-1{
    align-items: center;
    flex-grow: 1;
    display: flex;

}

svg.function-1{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #7e69fe;
    fill: #7e69fe;
}

span.function-1{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #1d1d1e;
    fill: #1d1d1e;
}

li.function-wrap-2{
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    align-items: center;
    height: 40px;
    display: flex;
    margin-bottom: 8px;
}

a.function-2{
    align-items: center;
    flex-grow: 1;
    display: flex;
}

svg.function-2{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #333334;
    fill: #333334;
}

span.function-2{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #333334;
    fill: #333334;
}

li.function-wrap-2:hover{
    background-color: #f2f0fc;
}

div.content-wap{
    overflow-x: auto;
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 0;
}

div.content-container{
    padding-bottom: 64px;
    row-gap: 0;
    column-gap: 16px;
    grid-template-columns: repeat(12,minmax(0,1fr));
    width: 944px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}