@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

.login-wrap {
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100%;
  background-color: rgb(250, 250, 250);
}

.except-footer-wrap {
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.except-footer-container {
  flex: 1 0 auto;
  margin: 0px auto;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 0px;
}

.logo-wrap {
  margin-bottom: 30px;
}

.logo-container {
  width: 147px;
  height: 50px;
  margin: 0px auto;
}

.form-wrap {
  width: 300px;
}

/* 아이디, 비밀번호 input을 감싸는 div에 공통 적용 */
.login-inputs {
  position: relative;
}

.email-input {
  padding: 13px 15px 14px;
  margin: 0px;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
  -webkit-font-smoothing: antialiased;
  padding: 13px 15px 14px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
  font-size: 15px;
  line-height: 21px;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(219, 219, 219);
  border-image: initial;
}

/* 이메일 입력창이 focus되었을 때 */
.email-input:focus {
  z-index: 2;
  outline: 0;
}

/* 이메일 입력창이 focus되었을 때 추가되는 클래스로 인한 스타일 */
.email-input.focus-visible {
  box-shadow: 0 0 0 3px rgba(53, 197, 240, 0.3);
}

/* 이메일 입력 창이 각각 blur 되었을 때 */
.email-blur {
  border: 1px solid #f77;
  z-index: 1;
}

/* 이메일 입력 창이 blur 된 다음, 다시 focus 되었을 때 */
.email-blur.focus-visible {
  z-index: 2;
  box-shadow: 0 0 0 3px rgba(255, 119, 119, 0.3);
}

.email-input:hover:not(:focus) {
  background-color: #fafafa;
}

.password-input {
  padding: 13px 15px 14px;
  margin: 0px;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  margin-top: -1px;
  transition: box-shadow 0.2s ease 0s, background-color 0.2s ease 0s;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
  font-size: 15px;
  line-height: 21px;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(219, 219, 219);
  border-image: initial;
}

/*
  z-index 우선도

  평소 테두리 < blur < focus(파랑)/blur+focus(빨강)
  
*/

/* 비밀번호 입력창이 focus되었을 때 */
.password-input:focus {
  z-index: 2;
  outline: 0;
}

/* 비밀번호 입력창이 focus되었을 때 추가되는 클래스로 인한 스타일 */
.password-input.focus-visible {
  box-shadow: 0 0 0 3px rgba(53, 197, 240, 0.3);
}

/* 이메일 입력 창이 각각 blur 되었을 때 */
.password-blur {
  border: 1px solid #f77;
  z-index: 1;
}

/* 비밀번호 입력 창이 blur 된 다음, 다시 focus 되었을 때 */
.password-blur.focus-visible {
  z-index: 2;
  box-shadow: 0 0 0 3px rgba(255, 119, 119, 0.3);
}

.password-input:hover:not(:focus) {
  background-color: #fafafa;
}

.login-button {
  padding: 15px 10px;
  margin: 20px 0px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
  font-size: 17px;
  min-height: 50px;
  background-color: #35c5f0;
  border-color: #35c5f0;
  color: #fff;
  user-select: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  /* background: none; */
  font-family: Noto Sans KR, Noto Sans CJK KR, 맑은 고딕, Malgun Gothic,
    sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  border-color: #09addb;
  background-color: #09addb;
}

.find-and-sign-up-wrap {
  width: 100%;
  text-align: center;
}

/* 아이디 찾기 */
.find-id-page {
  margin-left: 0px;
}

/* 비밀번호 찾기, 회원가입 */
.sign-up-page {
  margin-left: 20px;
}

.sns-text {
  margin: 35px 0 15px;
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
}

/* sns(페이스북, 카카오, 네이버) 간편 로그인 */
.login-with-sns-wrap {
  margin: 0 10px;
  -webkit-transition: 0.1s opacity;
  transition: 0.1s opacity;
}

/* 위 영역 안 아이콘들에 적용 */
.login-with-sns-wrap > svg {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.any-problems {
  margin-top: 24px;
  color: #c2c8cc;
  font-size: 14px;
  line-height: 18px;
}

.non-member-wrap {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #dbdbdb;
}

.non-member-select {
  width: 100%;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.4;
  color: #424242;
  margin-bottom: 20px;
  height: 21px;
}

.hidden-non-member {
  padding: 3px;
  margin: -3px;
  box-sizing: border-box;
}

.login-footer {
  width: 100%;
  color: #757575;
  font-size: 10px;
  line-height: 20px;
  margin: -5px 0 25px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.login-footer a {
  width: 90.35px;
}

/* 화면 너비가 768px 이상일 때 적용할 미디어 쿼리 */
@media (min-width: 768px) {
  body,
  html {
    font-size: 15px;
  }
}
