body, figure, input, p, h1, h2, h3, h4, h5, h6, hr, ul {
    margin: 0;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body, html {
    word-break: keep-all;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    display: block;
    margin: 8px;
    line-height: 1;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 13px;
}

html {
    letter-spacing: -0.3px;
    -webkit-font-smoothing: antialiased;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

button, input, select, textarea {
    font-size: inherit;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button:enabled {
    cursor: pointer;
    touch-action: manipulation;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

ol {
    list-style-type: decimal;
}

