<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link
      rel="shortcut icon"
      href="../../../staticfiles/images/selleaf.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../staticfiles/css/common.css" />
    <link
      rel="stylesheet"
      href="../../../staticfiles/css/community/app/knowhow.css"
    />
    <title>노하우 커뮤니티</title>
  </head>
  <body>
    <div class="knowhow-wrap">
      <div class="knowhow-container">
        <div class="knowhow-inner">
          <div class="knowhow-box">
            <div class="filter-wrap">
              <div class="filter-container">
                <div class="filter-item">
                  <button type="button" class="filter-btn" name="sort">
                    정렬<span class="filter-btn-icon"></span>
                  </button>
                </div>
                <div class="filter-item">
                  <button type="button" class="filter-btn" name="plant">
                    식물 종류<span class="filter-btn-icon"></span>
                  </button>
                </div>
                <div class="filter-item">
                  <button type="button" class="filter-btn" name="field">
                    분야<span class="filter-btn-icon"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="total-data">
              전체 12,360
            </div>
            <div>
              <div style="position: relative;" class="content-wrap">
                <div
                  style="width: 100%; height: 100%; position: absolute; top: 0;"
                >
                  <div
                    style="
                      box-sizing: border-box;
                      padding-top: 0px;
                      margin-top: 0px;
                    "
                  >
                    <div style="overflow-anchor: none;">
                      <div class="content-line-box">
                        <a href="#">
                          <div class="content-item-wrap">
                            <div class="content-item-container">
                              <div class="content-img-box">
                                <img
                                  src="../../../staticfiles/images/blank-image.png"
                                  class="content-img"
                                />
                                <div class="scrap-btn-box">
                                  <button type="button" class="scrap-btn">
                                    <span class="scrap-icon-box">
                                      <img
                                        src="../../../staticfiles/images/scrap-off.png"
                                        alt=""
                                      />
                                    </span>
                                  </button>
                                </div>
                              </div>
                              <p class="content-title">
                                집에서 가장 바쁜 집순이의 다채로운 10평 투룸
                              </p>
                              <div class="content-uploader">
                                <div class="uploader-img-box">
                                  <img
                                    src="../../../staticfiles/images/blank-image.png"
                                    class="uploader-img"
                                  />
                                </div>
                                <span class="uploader-name">다채롭솔</span>
                              </div>
                              <div class="content-data-box">
                                <span class="content-data">
                                  스크랩
                                  <span>3</span>
                                </span>
                                <span class="content-data">
                                  조회
                                  <span>153</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                        <a href="#">
                          <div class="content-item-wrap">
                            <div class="content-item-container">
                              <div class="content-img-box">
                                <img
                                  src="../../../staticfiles/images/blank-image.png"
                                  class="content-img"
                                />
                                <div class="scrap-btn-box">
                                  <button type="button" class="scrap-btn">
                                    <span class="scrap-icon-box">
                                      <img
                                        src="../../../staticfiles/images/scrap-off.png"
                                        alt=""
                                      />
                                    </span>
                                  </button>
                                </div>
                              </div>
                              <p class="content-title">
                                집에서 가장 바쁜 집순이의 다채로운 10평 투룸
                              </p>
                              <div class="content-uploader">
                                <div class="uploader-img-box">
                                  <img
                                    src="../../../staticfiles/images/blank-image.png"
                                    class="uploader-img"
                                  />
                                </div>
                                <span class="uploader-name">다채롭솔</span>
                              </div>
                              <div class="content-data-box">
                                <span class="content-data">
                                  스크랩
                                  <span>3</span>
                                </span>
                                <span class="content-data">
                                  조회
                                  <span>153</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                        <a href="#">
                          <div class="content-item-wrap">
                            <div class="content-item-container">
                              <div class="content-img-box">
                                <img
                                  src="../../../staticfiles/images/blank-image.png"
                                  class="content-img"
                                />
                                <div class="scrap-btn-box">
                                  <button type="button" class="scrap-btn">
                                    <span class="scrap-icon-box">
                                      <img
                                        src="../../../staticfiles/images/scrap-off.png"
                                        alt=""
                                      />
                                    </span>
                                  </button>
                                </div>
                              </div>
                              <p class="content-title">
                                집에서 가장 바쁜 집순이의 다채로운 10평 투룸
                              </p>
                              <div class="content-uploader">
                                <div class="uploader-img-box">
                                  <img
                                    src="../../../staticfiles/images/blank-image.png"
                                    class="uploader-img"
                                  />
                                </div>
                                <span class="uploader-name">다채롭솔</span>
                              </div>
                              <div class="content-data-box">
                                <span class="content-data">
                                  스크랩
                                  <span>3</span>
                                </span>
                                <span class="content-data">
                                  조회
                                  <span>153</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                        <a href="#">
                          <div class="content-item-wrap">
                            <div class="content-item-container">
                              <div class="content-img-box">
                                <img
                                  src="../../../staticfiles/images/blank-image.png"
                                  class="content-img"
                                />
                                <div class="scrap-btn-box">
                                  <button type="button" class="scrap-btn">
                                    <span class="scrap-icon-box">
                                      <img
                                        src="../../../staticfiles/images/scrap-off.png"
                                        alt=""
                                      />
                                    </span>
                                  </button>
                                </div>
                              </div>
                              <p class="content-title">
                                집에서 가장 바쁜 집순이의 다채로운 10평 투룸
                              </p>
                              <div class="content-uploader">
                                <div class="uploader-img-box">
                                  <img
                                    src="../../../staticfiles/images/blank-image.png"
                                    class="uploader-img"
                                  />
                                </div>
                                <span class="uploader-name">다채롭솔</span>
                              </div>
                              <div class="content-data-box">
                                <span class="content-data">
                                  스크랩
                                  <span>3</span>
                                </span>
                                <span class="content-data">
                                  조회
                                  <span>153</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-wrap sort-modal">
      <div class="modal-container">
        <div class="modal-inner">
          <div class="modal-box">
            <div class="modal-title-box">
              <div class="modal-title">정렬</div>
            </div>
            <div class="modal-content-wrap">
              <div class="modal-content-container">
                <button type="button" class="modal-content-btn" name="latest">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">최신순</div>
                  </div>
                </button>
                <button
                  type="button"
                  class="modal-content-btn"
                  name="popularity"
                >
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">인기순</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="past">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">과거순</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-wrap plant-modal">
      <div class="modal-container">
        <div class="modal-inner">
          <div class="modal-box">
            <div class="modal-title-box">
              <div class="modal-title">식물 종류</div>
            </div>
            <div class="modal-content-wrap">
              <div class="modal-content-container">
                <button type="button" class="modal-content-btn" name="foliage">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">관엽식물</div>
                  </div>
                </button>
                <button
                  type="button"
                  class="modal-content-btn"
                  name="coniferous"
                >
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">침엽식물</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="rare">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">희귀식물</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="cactus">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">다육 선인장</div>
                  </div>
                </button>
                <button
                  type="button"
                  class="modal-content-btn"
                  name="terrarium"
                >
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">테라리움</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="any">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">기타</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-wrap field-modal">
      <div class="modal-container">
        <div class="modal-inner">
          <div class="modal-box">
            <div class="modal-title-box">
              <div class="modal-title">분야</div>
            </div>
            <div class="modal-content-wrap">
              <div class="modal-content-container">
                <button type="button" class="modal-content-btn" name="foliage">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">식물 키우기</div>
                  </div>
                </button>
                <button
                  type="button"
                  class="modal-content-btn"
                  name="coniferous"
                >
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">제품 추천</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="rare">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">스타일링</div>
                  </div>
                </button>
                <button type="button" class="modal-content-btn" name="cactus">
                  <div class="modal-btn-text-box">
                    <div class="modal-btn-text">기타</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 스크랩 팝업 -->
    <div class="scrap-popup-wrap">
      <div class="scrap-popup-container">
        <div class="scrap-popup-inner">
          <div class="scrap-popup-text">스크랩 했습니다.</div>
        </div>
        <div class="scrap-popup-button-container">
          <!-- 스크랩북 링크삽입 -->
          <button class="scrap-link-button" type="button">
            스크랩북 보기
          </button>
          <button class="scrap-link-button" type="button">폴더에 담기</button>
        </div>
      </div>
    </div>
    <div class="scrap-popup-cancel-wrap">
      <div class="scrap-popup-container">
        <div class="scrap-popup-inner">
          <div class="scrap-popup-text">스크랩을 취소하였습니다.</div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../../staticfiles/js/community/app/knowhow.js"></script>
</html>
