<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-emotion="css-global" data-s="">
      @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
      @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
      @font-face {
        font-family: OhouseIcon;
        src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
        src: url(https:좋아요//assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
            format("embedded-opentype"),
          url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
            format("woff2"),
          url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
            format("woff"),
          url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
            format("truetype"),
          url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
            format("svg");
      }
      html {
        font-family: "Pretendard Variable", sans-serif;
        letter-spacing: -0.3px;
        -webkit-font-smoothing: antialiased;
      }
    </style>
    <link
      rel="shortcut icon"
      href="../../../staticfiles/images/selleaf.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../staticfiles/css/common.css" />
    <link
      rel="stylesheet"
      href="../../../staticfiles/css/community/app/post-detail.css"
    />
    <title>게시물 상세보기</title>
  </head>
  <body>
    <div class="post-detail-wrap">
      <div class="post-detail-container">
        <div class="post-detail-inner">
          <div class="post-detail-box">
            <div class="content-wrap">
              <div class="content-container">
                <div class="content-uloader-top-data">
                  <button class="content-uloader-link-btn">
                    <figure class="uploader-top-img-box">
                      <img
                        src="/staticfiles/images/blank-image.png"
                        height="0"
                        class="uploader-top-img"
                      />
                    </figure>
                    <div class="uploader-top-name-box">
                      <span class="uploader-top-name">selly__home</span>
                      <span class="uploader-top-description"
                        >https://instagram.co...</span
                      >
                    </div>
                  </button>
                </div>
                <div class="blind" style="position: relative;">
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="content-section">
                    <div>
                      <div class="img-box">
                        <div class="img-inner">
                          <img
                            src="../../../staticfiles/images/blank-image.png"
                            alt=""
                            class="content-img"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="content-text-box">
                      <p class="content-text">
                        너무 귀여운 오늘의가든 몬스테라 ❤️ 열심히 게임으로
                        물줘서 마지막레벨까지 해서 얻은 몬스테라! 너무 쪼꼼하니
                        귀엽다 🥹🥹🥹
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                        <a
                          class="hashtag"
                          hashtagkeyword="몬스테라"
                          href="/hashtags/%EB%AA%AC%EC%8A%A4%ED%85%8C%EB%9D%BC"
                          >#몬스테라
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="content-data-wrap">
                  <div>
                    <div class="content-data-container">
                      <dl class="content-data">
                        <span class="week-data">2주</span>
                        <dt class="like">좋아요</dt>
                        <dd class="like-data">446</dd>
                        <dt class="scrap">스크랩</dt>
                        <dd class="scrap-data">27</dd>
                        <dt class="check">조회</dt>
                        <dd class="check-data">3,624</dd>
                      </dl>
                      <div class="declaration-btn-box">
                        <button type="button" class="declaration-btn">
                          신고하기
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uploader-data-wrap">
                  <button class="uploader-data-btn">
                    <figure class="uploader-img-box">
                      <img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/170410117290522562.jpeg?w=50"
                        height="0"
                        class="uploader-img"
                      />
                    </figure>
                    <div class="uploader-data-box">
                      <span class="uploader-name">서원이네_</span
                      ><span class="uploader-sub-description"
                        >#오플루언서 오하우스시즌7,8,10 ...</span
                      >
                    </div>
                  </button>
                </div>
                <div class="uploader-another-post-wrap">
                  <div class="uploader-another-post-container">
                    <div class="uploader-another-post">
                      <a href="#">
                        <img
                          src="../../../staticfiles/images/blank-image.png"
                          class="uploader-another-post-img"
                      /></a>
                    </div>
                    <div class="uploader-another-post">
                      <a href="#">
                        <img
                          src="../../../staticfiles/images/blank-image.png"
                          class="uploader-another-post-img"
                      /></a>
                    </div>
                    <div class="uploader-another-post">
                      <a href="#">
                        <img
                          src="../../../staticfiles/images/blank-image.png"
                          class="uploader-another-post-img"
                      /></a>
                    </div>
                    <div class="uploader-another-post">
                      <a href="#">
                        <img
                          src="../../../staticfiles/images/blank-image.png"
                          class="uploader-another-post-img"
                      /></a>
                    </div>
                    <a href="#" class="uploader-another-post-more-box"
                      ><div class="more-arrow-box">
                        <span class="more-arrow"></span>
                      </div>
                      <div class="more-text">더보기</div></a
                    >
                  </div>
                </div>
                <div>
                  <div class="comment-section" id="comment-section">
                    <h1 class="comment-section-title">
                      댓글<span class="comment-count">164</span>
                    </h1>
                    <div class="comment-input-wrap">
                      <div class="comment-input-container">
                        <figure class="comment-user-icon-box">
                          <img
                            src="../../../staticfiles/images/blank-image.png"
                            height="0"
                            class="comment-user-icon"
                          />
                        </figure>
                        <div class="input-wrap">
                          <div class="input-container">
                            <div class="input-inner">
                              <input
                                type="text"
                                placeholder="칭찬과 격려의 댓글은 작성자에게 큰 힘이 됩니다:)"
                                class="comment-input"
                                size="20"
                              />
                              <div class="comment-submit-btn-box">
                                <button
                                  type="submit"
                                  class="comment-submit-btn"
                                  disabled=""
                                >
                                  입력
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-box">
                      <div class="comment-item">
                        <div class="comment-user-img-wrap">
                          <figure class="comment-user-img-container">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              height="0"
                              class="comment-user-img"
                            />
                          </figure>
                        </div>
                        <div class="comment-content-box">
                          <div class="comment-user-name-box">
                            <div role="link" class="commment-user-name">
                              기광이
                            </div>
                          </div>
                          <div class="comment">
                            축하해용 저도 열심히 키워봐야겠네용
                          </div>
                          <div class="comment-data">
                            <div class="time-before">1시간</div>
                            <div class="comment-like-btn-box">
                              <div class="comment-split">・</div>
                              <button type="button" class="comment-like-btn">
                                <span class="comment-like-icon"></span
                                ><span class="comment-like-text">좋아요</span>
                              </button>
                            </div>
                            <div class="comment-declaration-btn-box">
                              <div class="comment-split">・</div>
                              <button class="comment-declaration-btn">
                                신고
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-box">
                      <div class="comment-item">
                        <div class="comment-user-img-wrap">
                          <figure class="comment-user-img-container">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              height="0"
                              class="comment-user-img"
                            />
                          </figure>
                        </div>
                        <div class="comment-content-box">
                          <div class="comment-user-name-box">
                            <div role="link" class="commment-user-name">
                              기광이
                            </div>
                          </div>
                          <div class="comment">
                            축하해용 저도 열심히 키워봐야겠네용
                          </div>
                          <div class="comment-data">
                            <div class="time-before">1시간</div>
                            <div class="comment-like-btn-box">
                              <div class="comment-split">・</div>
                              <button type="button" class="comment-like-btn">
                                <span class="comment-like-icon"></span
                                ><span class="comment-like-text">좋아요</span>
                              </button>
                            </div>
                            <div class="comment-declaration-btn-box">
                              <div class="comment-split">・</div>
                              <button class="comment-declaration-btn">
                                신고
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-box">
                      <div class="comment-item">
                        <div class="comment-user-img-wrap">
                          <figure class="comment-user-img-container">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              height="0"
                              class="comment-user-img"
                            />
                          </figure>
                        </div>
                        <div class="comment-content-box">
                          <div class="comment-user-name-box">
                            <div role="link" class="commment-user-name">
                              기광이
                            </div>
                          </div>
                          <div class="comment">
                            축하해용 저도 열심히 키워봐야겠네용
                          </div>
                          <div class="comment-data">
                            <div class="time-before">1시간</div>
                            <div class="comment-like-btn-box">
                              <div class="comment-split">・</div>
                              <button type="button" class="comment-like-btn">
                                <span class="comment-like-icon"></span>
                                <span class="comment-like-text">좋아요</span>
                              </button>
                            </div>
                            <div class="comment-declaration-btn-box">
                              <div class="comment-split">・</div>
                              <button class="comment-declaration-btn">
                                신고
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-box">
                      <div class="comment-item">
                        <div class="comment-user-img-wrap">
                          <figure class="comment-user-img-container">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              height="0"
                              class="comment-user-img"
                            />
                          </figure>
                        </div>
                        <div class="comment-content-box">
                          <div class="comment-user-name-box">
                            <div role="link" class="commment-user-name">
                              기광이
                            </div>
                          </div>
                          <div class="comment">
                            축하해용 저도 열심히 키워봐야겠네용
                          </div>
                          <div class="comment-data">
                            <div class="time-before">1시간</div>
                            <div class="comment-like-btn-box">
                              <div class="comment-split">・</div>
                              <button type="button" class="comment-like-btn">
                                <span class="comment-like-icon"></span>
                                <span class="comment-like-text">좋아요</span>
                              </button>
                            </div>
                            <div class="comment-declaration-btn-box">
                              <div class="comment-split">・</div>
                              <button class="comment-declaration-btn">
                                신고
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-box">
                      <div class="comment-item">
                        <div class="comment-user-img-wrap">
                          <figure class="comment-user-img-container">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              height="0"
                              class="comment-user-img"
                            />
                          </figure>
                        </div>
                        <div class="comment-content-box">
                          <div class="comment-user-name-box">
                            <div role="link" class="commment-user-name">
                              기광이
                            </div>
                          </div>
                          <div class="comment">
                            축하해용 저도 열심히 키워봐야겠네용
                          </div>
                          <div class="comment-data">
                            <div class="time-before">1시간</div>
                            <div class="comment-like-btn-box">
                              <div class="comment-split">・</div>
                              <button type="button" class="comment-like-btn">
                                <span class="comment-like-icon"></span>
                                <span class="comment-like-text">좋아요</span>
                              </button>
                            </div>
                            <div class="comment-declaration-btn-box">
                              <div class="comment-split">・</div>
                              <button class="comment-declaration-btn">
                                신고
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pagination-box">
                      <button class="pagination-prev-btn" disabled="">
                        <span class="pagination-prev-btn-icon"></span>
                      </button>
                      <button type="button" class="pagination-btn select">
                        1
                      </button>
                      <button type="button" class="pagination-btn">2</button>
                      <button type="button" class="pagination-btn">3</button>
                      <button type="button" class="pagination-btn">4</button>
                      <button type="button" class="pagination-btn">5</button>
                      <button type="button" class="pagination-btn">6</button>
                      <button type="button" class="pagination-btn">7</button>
                      <button type="button" class="pagination-btn">8</button>
                      <button type="button" class="pagination-btn">9</button>
                      <button type="button" class="pagination-btn">10</button>
                      <button class="pagination-next-btn">
                        <span class="pagination-next-btn-icon"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <hr class="content-spiit" />
                <div class="similar-posts-box">
                  <p class="similar-posts-title">
                    유저들의 비슷한 공간 베스트
                  </p>
                  <div
                    class="similar-posts"
                    style="padding-top: 0px; transform: translateY(0px);"
                  >
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div>
                      <span>
                        <div class="similar-post">
                          <a href="#">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                    <div class="similar-post-box">
                      <span>
                        <div class="similar-post">
                          <a href="#" class="similar-post-link">
                            <img
                              src="../../../staticfiles/images/blank-image.png"
                              class="similar-post-img"
                            />
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="sticky-container"
                style="
                  position: sticky;
                  bottom: 0px;
                  transition: bottom 0.1s ease 0s;
                  z-index: 1000;
                "
              >
                <div style="position: relative;">
                  <div class="sticky-box">
                    <button title="좋아요" class="sticky-btn">
                      <img
                        src="../../../staticfiles/images/like-off.png"
                        alt=""
                        class="sticky-btn-icon"
                      />
                      <span class="sticky-btn-data">8,796</span>
                    </button>
                    <button title="스크랩" class="sticky-btn">
                      <img
                        src="../../../staticfiles/images/scrap-off-blk.png"
                        alt=""
                        class="sticky-btn-icon scrap-icon"
                      />
                      <span class="sticky-btn-data">20,747</span>
                    </button>
                    <button title="댓글" class="sticky-btn">
                      <a href="#comment-section">
                        <span
                          class="sticky-btn-before-icon comment-icon"
                        ></span>
                        <span class="sticky-btn-data">649</span>
                      </a>
                    </button>
                    <button title="공유" class="sticky-btn">
                      <span class="sticky-btn-before-icon share-icon"></span>
                      <span class="sticky-btn-data">7o,897</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 스크랩 팝업 -->
    <div class="scrap-popup-wrap">
      <div class="scrap-popup-container">
        <div class="scrap-popup-inner">
          <div class="scrap-popup-text">스크랩 했습니다.</div>
        </div>
        <div class="scrap-popup-button-container">
          <!-- 스크랩북 링크삽입 -->
          <button class="scrap-link-button" type="button">
            스크랩북 보기
          </button>
          <button class="scrap-link-button" type="button">폴더에 담기</button>
        </div>
      </div>
    </div>
    <div class="scrap-popup-cancel-wrap">
      <div class="scrap-popup-container">
        <div class="scrap-popup-inner">
          <div class="scrap-popup-text">스크랩을 취소하였습니다.</div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../../staticfiles/js/community/app/post-detail.js"></script>
</html>
