<!DOCTYPE html>
<html lang="en">
    <head>
        <style data-emotion="css-global" data-s="">
            @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
            @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
            @font-face {
                font-family: OhouseIcon;
                src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
                src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix) format("embedded-opentype"),
                    url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2"),
                    url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff) format("woff"),
                    url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf) format("truetype"),
                    url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon) format("svg");
            }
            html {
                font-family: "Pretendard Variable", sans-serif;
                letter-spacing: -0.3px;
                -webkit-font-smoothing: antialiased;
            }
        </style>
        <link rel="stylesheet" href="../../staticfiles/css/common.css" />
        <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
        <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
        <link rel="shortcut icon" href="/staticfiles/images/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="../../staticfiles/css/payment/payment.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>결제페이지</title>
    </head>
    <body>
        <header></header>
        <div class="payment-wrap">
            <form class="payment-container">
                <article class="payment-inner">
                    <h1 class="payment-title">주문/결제</h1>
                    <section class="section">
                        <div class="section-title">
                            <h2 class="title-text">배송지</h2>
                            <button type="button" class="change-button">변경</button>
                        </div>
                        <article class="contents-wrap">
                            <div class="delivery-place-name">
                                <div class="address-name">집</div>
                                <div class="tag">기본배송지</div>
                            </div>
                            <div class="address">경기 하남시 감일순환로 170 (감이동) , 감일스타힐스</div>
                            <div class="user-info-wrap">
                                <div class="name">강희주</div>
                                <div class="phone">010-4849-6691</div>
                            </div>
                            <div class="delivery-option-wrap">
                                <div class="delivery-option-container">
                                    <span class="dropdown-image-wrap">
                                        <img src="/staticfiles/images/button-down.png" alt="" />
                                    </span>
                                    <select class="delivery-option">
                                        <option value="">배송시 요청사항을 선택해주세요</option>
                                        <option value="부재시 문앞에 놓아주세요">부재시 문앞에 놓아주세요</option>
                                        <option value="배송전에 미리 연락주세요">배송전에 미리 연락주세요</option>
                                        <option value="부재시 경비실에 맡겨 주세요">부재시 경비실에 맡겨 주세요</option>
                                        <option value="부재시 전화주시거나 문자 남겨 주세요">부재시 전화주시거나 문자 남겨 주세요</option>
                                        <option value="CUSTOM">직접 입력</option>
                                    </select>
                                </div>
                            </div>
                        </article>
                    </section>
                    <section class="section">
                        <div class="section-title">
                            <h2 class="title-text">주문자</h2>
                        </div>
                        <article class="contents-wrap">
                            <div class="input-wrap">
                                <div class="input-title">이름</div>
                                <div class="input-container">
                                    <div class="name-input-inner">
                                        <input name="orderer.name" maxlength="10" class="name-input" />
                                        <div class="space"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-title">이메일</div>
                                <div class="input-container">
                                    <div class="email-input-wrap">
                                        <div class="email-input-container">
                                            <div class="email-input-inner">
                                                <input maxlength="20" class="email-input" value="" />
                                                <div class="space"></div>
                                            </div>
                                            <span class="at">@</span>
                                        </div>
                                        <div class="domain-option-wrap">
                                            <div class="domain-option-container">
                                                <span class="dropdown-image-wrap">
                                                    <img src="/staticfiles/images/button-down.png" alt="" />
                                                </span>
                                                <select class="domain">
                                                    <option value="">선택해주세요</option>
                                                    <option value="naver.com">naver.com</option>
                                                    <option value="hanmail.net">hanmail.net</option>
                                                    <option value="daum.net">daum.net</option>
                                                    <option value="gmail.com">gmail.com</option>
                                                    <option value="kakao.com">kakao.com</option>
                                                    <option value="nate.com">nate.com</option>
                                                    <option value="hotmail.com">hotmail.com</option>
                                                    <option value="outlook.com">outlook.com</option>
                                                    <option value="icloud.com">icloud.com</option>
                                                    <option value="CUSTOM">직접 입력</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-wrap">
                                <div class="input-title">전화번호</div>
                                <div class="input-container">
                                    <div class="phone-input-wrap">
                                        <div class="phone-common-container">
                                            <div class="phone-common-inner">
                                                <span class="dropdown-image-wrap">
                                                    <img src="/staticfiles/images/button-down.png" alt="" />
                                                </span>
                                                <select class="number-options">
                                                    <option value="010">010</option>
                                                    <option value="011">011</option>
                                                    <option value="016">016</option>
                                                    <option value="017">017</option>
                                                    <option value="018">018</option>
                                                    <option value="019">019</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="private-number">
                                            <input maxlength="9" type="tel" class="phone-number" value="" />
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <section class="section">
                        <div class="section-title">
                            <h2 class="title-text">주문상품</h2>
                            <p class="product-count-wrap">
                                <span class="product-count">2건</span>
                            </p>
                        </div>
                        <article class="contents-wrap">
                            <ul>
                                <li class="product-preview-wrap">
                                    <div class="product-preview-container">
                                        <div class="product-preview-inner">
                                            <h3 class="user-name">판매유저이름</h3>
                                            <div class="delivery-condition">무료배송</div>
                                        </div>
                                        <hr class="divide" />
                                        <div class="delivery-note">업체직접배송</div>
                                    </div>
                                    <div class="order-product-info">
                                        <figure class="product-preview-image">
                                            <img src="/staticfiles/images/blank-image.png" class="product-image" />
                                        </figure>
                                        <div class="product-info-contents">
                                            <p class="product-name">[5%쿠폰]드레스덴 정품 조야패브릭 호텔식 침대프레임 SS/Q/K/LK/CK</p>
                                            <p class="product-option">추가상품 - 베이직 본넬 매트리스 퀸Q</p>
                                            <p class="product-price">119,000원<span class="quantity">1개</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </article>
                    </section>
                    <section class="section">
                        <div class="section-title">
                            <h2 class="title-text">마일리지</h2>
                        </div>
                        <article class="contents-wrap">
                            <div class="mileage-usage-wrap">
                                <div class="mileage-usage-container">
                                    <input placeholder="0" type="tel" max="100000000" class="mileage-usage" value="0" />
                                    <div class="space"></div>
                                </div>
                                <button type="button" class="use-all">전액 사용</button>
                            </div>
                            <div class="available-mileage-wrap">
                                사용 가능 마일리지<span class="mileage"> 195</span>
                                <span> M</span>
                            </div>
                        </article>
                    </section>
                    <section class="section">
                        <div class="section-title">
                            <h2 class="title-text">결제수단</h2>
                        </div>
                        <article class="contents-wrap">
                            <div class="payment-type-wrap">
                                <ul class="payment-type">
                                    <li class="payment">
                                        <button class="payment-button" type="button" title="카드결제">
                                            <span class="payment-type-text">카드</span
                                            ><img
                                                src="https://image.ohou.se/i/bucketplace-v2-development/pg/168311599350498640.png"
                                                srcset="
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311599350498640.png 1.5x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311599350498640.png 2x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311599350498640.png 3x
                                                "
                                                alt="카드 결제 아이콘"
                                                class="payment-icon"
                                            />
                                        </button>
                                    </li>
                                    <li class="payment selected">
                                        <button class="payment-button" type="button" title="무통장입금 결제">
                                            <span class="payment-type-text">무통장입금</span
                                            ><img
                                                src="https://image.ohou.se/i/bucketplace-v2-development/pg/168311600677152970.png"
                                                srcset="
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311600677152970.png 1.5x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311600677152970.png 2x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/168311600677152970.png 3x
                                                "
                                                alt="무통장입금 결제 아이콘"
                                                class="payment-icon"
                                            />
                                        </button>
                                    </li>
                                    <li class="payment">
                                        <button class="payment-button" type="button" title="카카오페이 결제">
                                            <span class="css-1msmbct e9zdadf3">카카오페이</span
                                            ><img
                                                src="https://image.ohou.se/i/bucketplace-v2-development/pg/img_kakaopay.png?w=72&amp;h=72&amp;c=c"
                                                srcset="
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/img_kakaopay.png?w=108&amp;h=108&amp;c=c 1.5x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/img_kakaopay.png?w=144&amp;h=144&amp;c=c 2x,
                                                    https://image.ohou.se/i/bucketplace-v2-development/pg/img_kakaopay.png?w=216&amp;h=216&amp;c=c 3x
                                                "
                                                alt="카카오페이 결제 아이콘"
                                                class="payment-icon"
                                            />
                                        </button>
                                    </li>
                                </ul>
                                <div class="card-type-option-wrap" style="display: none">
                                    <div class="card-type-option-container">
                                        <span class="dropdown-image-wrap">
                                            <img src="/staticfiles/images/button-down.png" alt="" />
                                        </span>
                                        <select name="paymentMethod.card.cardCode" class="cards">
                                            <option value="">카드를 선택해주세요.</option>
                                            <option value="WOORI">우리</option>
                                            <option value="KB">KB국민</option>
                                            <option value="NH">NH농협</option>
                                            <option value="BC">BC</option>
                                            <option value="SHINHAN">신한</option>
                                            <option value="HANA">하나</option>
                                            <option value="SAMSUNG">삼성</option>
                                            <option value="HYUNDAI">현대</option>
                                            <option value="LOTTE">롯데</option>
                                            <option value="KAKAOBANK">카카오뱅크</option>
                                            <option value="CITI">씨티</option>
                                        </select>
                                    </div>
                                    <div class="installment-wrap">
                                        <div class="installment-container">
                                            <span class="dropdown-image-wrap"><img src="/staticfiles/images/button-down.png" alt="" /> </span>
                                            <select name="paymentMethod.card.installmentMonth" class="installment">
                                                <option value="1">일시불</option>
                                                <option value="2">2개월 (무이자)</option>
                                                <option value="3">3개월 (무이자)</option>
                                                <option value="4">4개월 (무이자)</option>
                                                <option value="5">5개월</option>
                                                <option value="6">6개월</option>
                                                <option value="7">7개월</option>
                                                <option value="8">8개월</option>
                                                <option value="9">9개월</option>
                                                <option value="10">10개월</option>
                                                <option value="11">11개월</option>
                                                <option value="12">12개월</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </article>
                <!-- 사이드바 -->
                <aside class="sidebar-wrap">
                    <article class="sidebar-container">
                        <div class="payment-detail-info-wrap">
                            <section class="payment-detail-container">
                                <div class="payment-datail-title">
                                    <h2 class="payment-title-text">결제금액</h2>
                                </div>
                                <article class="detail-price-wrap">
                                    <div class="price-title-text">총 상품 금액<span class="emphasis price">418,000원</span></div>
                                    <div class="price-title-text">배송비<span class="price">0원</span></div>
                                    <div class="price-title-text">쿠폰 사용<span class="price">0원</span></div>
                                    <div class="price-title-text">포인트 사용<span class="price">0원</span></div>
                                    <hr class="line" />
                                    <div class="total-price-wrap">
                                        <span class="total-text">최종 결제 금액</span>
                                        <span class="total-price">418,000 원</span>
                                    </div>
                                    <p class="expected-mileage"><span class="value">418 P </span>적립 예정</p>
                                </article>
                            </section>
                            <div class="term-wrap">
                                <div tabindex="-1">
                                    <div class="total-agree-wrap">
                                        <span class="total-agree-container">
                                            <span class="total-agree-inner">
                                                <label class="total-agree-checkbox-wrap">
                                                    <div class="total-agree-checkbox-container">
                                                        <span class="total-agree-checkbox-inner"></span>
                                                    </div>
                                                    <input type="checkbox" class="total-check" />
                                                </label>
                                                <span>아래 내용에 모두 동의합니다. (필수)</span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="warning-wrap">
                                    <div class="warning-container">
                                        <div class="warning-inner"><span class="warning"></span>결제 진행 필수사항을 동의해주세요</div>
                                    </div>
                                </div>
                                <div class="term-container">
                                    <div class="term-inner">
                                        <span class="term-title-wrap">
                                            <label class="term-checkbox-wrap">
                                                <div class="term-checkbox-container">
                                                    <span class="term-checkbox-inner"> </span>
                                                </div>
                                                <input type="checkbox" class="check1" />
                                            </label>
                                            <span class="term-title-container">
                                                <span> 개인정보 수집 이용 및 제 3자 제공 동의 (필수) </span>
                                            </span>
                                        </span>
                                        <div class="term-detail-a">
                                            <div class="term-detail-a-wrap">
                                                <div class="term-detail-a-container">
                                                    <div class="term-detail-a-inner">
                                                        <span class="term-subtitle-wrap">
                                                            <span class="term-subtitle-container">
                                                                <span>개인정보 제 3자 제공</span>
                                                            </span>
                                                            <button type="button" class="more-button">약관보기</button>
                                                        </span>
                                                    </div>
                                                    <div class="term-detail-a-inner">
                                                        <span class="term-subtitle-wrap">
                                                            <span class="term-subtitle-container">
                                                                <span>개인정보 수집 및 이용</span>
                                                            </span>
                                                            <button type="button" class="more-button">약관보기</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="term-inner">
                                        <span class="term-title-wrap">
                                            <label class="term-checkbox-wrap">
                                                <div class="term-checkbox-container">
                                                    <span class="term-checkbox-inner"> </span>
                                                </div>
                                                <input type="checkbox" class="check1" />
                                            </label>
                                            <span class="term-title-container">
                                                <span> 결제대행 서비스 이용약관 동의 (필수) </span>
                                            </span>
                                        </span>
                                        <div class="term-detail-a">
                                            <div class="term-detail-a-wrap">
                                                <div class="term-detail-a-container">
                                                    <div class="term-detail-a-inner">
                                                        <span class="term-subtitle-wrap">
                                                            <span class="term-subtitle-container">
                                                                <span>엔에이치엔한국사이버결제㈜</span>
                                                            </span>
                                                            <button type="button" class="more-button">약관보기</button>
                                                        </span>
                                                    </div>
                                                    <div class="term-detail-a-inner">
                                                        <span class="term-subtitle-wrap">
                                                            <span class="term-subtitle-container">
                                                                <span>NICE페이먼츠㈜</span>
                                                            </span>
                                                            <button type="button" class="more-button">약관보기</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="age-check">본인은 만 14세 이상이며, 주문 내용을 확인하였습니다.</div>
                                </div>
                            </div>
                        </div>
                        <div class="pay-button-wrap">
                            <button type="submit" class="summit">418,000원 결제하기</button>
                        </div>
                    </article>
                </aside>
            </form>
        </div>
        <!-- 주소 모달 -->
        <div class="address-modal">
            <!-- 배송지 확인 모달 -->
            <div class="address-modal-wrap" style="display: none">
                <div class="address-modal-container">
                    <div class="address-modal-title-wrap">
                        <span class="adress-modal-title">배송지 선택</span>
                        <button type="button" class="close-button">
                            <span class="cancel-image-wrap">
                                <img src="/staticfiles/images/cancel.png" alt="" />
                            </span>
                        </button>
                    </div>
                    <div class="address-modal-main-wrap">
                        <div class="address-modal-main-container">
                            <div class="address-wrap">
                                <div class="address-title-wrap">
                                    <div class="address-title">변경 집</div>
                                    <div class="address-tag">기본배송지</div>
                                </div>
                                <div class="address-text">변경된 주소 1</div>
                                <div class="address-user-info">
                                    <div class="address-user-name">변경된 이름</div>
                                    <div class="address-user-phone">010-1234-6691</div>
                                </div>
                                <div class="address-button-wrap">
                                    <div class="address-button-container">
                                        <button type="button" class="delete-button">삭제</button
                                        ><button type="button" class="update-button">수정</button>
                                    </div>
                                    <div class="select-button-wrap">
                                        <button class="select-button">선택</button>
                                    </div>
                                </div>
                            </div>
                            <div class="address-wrap">
                                <div class="address-title-wrap">
                                    <div class="address-title">집1</div>
                                </div>
                                <div class="address-text">경기 하남시 감일순환로 170 (감이동), 감일 스타힐스 301동 503호</div>
                                <div class="address-user-info">
                                    <div class="address-user-name">강희주</div>
                                    <div class="address-user-phone">010-4849-6691</div>
                                </div>
                                <div class="address-button-wrap">
                                    <div class="address-button-container">
                                        <button type="button" class="delete-button">삭제</button
                                        ><button type="button" class="update-button">수정</button>
                                    </div>
                                    <div class="select-button-wrap">
                                        <button class="select-button">선택</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-button-wrap">
                        <div class="add-button-container">
                            <button class="add-button">배송지 추가</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 주소 수정 모달 -->
            <div class="address-update-modal-wrap" style="display: none">
                <div class="address-update-modal-container">
                    <div class="address-update-title-wrap">
                        <button type="button" class="back-button">
                            <span class="back-button-image-wrap"><img src="/staticfiles/images/arrow.png" alt="" /></span>
                        </button>
                        <span class="address-update-title">배송지 수정</span>
                        <button type="button" class="cancel-button">
                            <span class="cancel-image-wrap">
                                <img src="/staticfiles/images/cancel.png" alt="" />
                            </span>
                        </button>
                    </div>
                    <div class="update-contents-wrap">
                        <form class="update-contents-container">
                            <div>
                                <div class="update-contents-inner">
                                    <div class="update-input-title">배송지명</div>
                                    <div class="update-input-wrap">
                                        <div class="update-input-container">
                                            <input maxlength="20" name="name" class="place-title-input" />
                                            <div class="sapce"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="update-contents-inner">
                                    <div class="update-input-title">받는 사람</div>
                                    <div class="update-input-wrap">
                                        <div class="update-input-container">
                                            <input maxlength="20" name="recipient" class="recipient-input" />
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="update-contents-inner">
                                    <div class="update-input-title">전화번호</div>
                                    <div class="update-input-wrap">
                                        <div class="number-input-wrap">
                                            <div class="number-input-container">
                                                <div class="number-input-inner">
                                                    <span class="dropdown-image-wrap">
                                                        <img src="/staticfiles/images/button-down.png" alt="" />
                                                    </span>
                                                    <select class="front-number">
                                                        <option value="010">010</option>
                                                        <option value="011">011</option>
                                                        <option value="016">016</option>
                                                        <option value="017">017</option>
                                                        <option value="018">018</option>
                                                        <option value="019">019</option>
                                                        <option value="02">02</option>
                                                        <option value="031">031</option>
                                                        <option value="032">032</option>
                                                        <option value="033">033</option>
                                                        <option value="041">041</option>
                                                        <option value="042">042</option>
                                                        <option value="043">043</option>
                                                        <option value="044">044</option>
                                                        <option value="051">051</option>
                                                        <option value="052">052</option>
                                                        <option value="053">053</option>
                                                        <option value="054">054</option>
                                                        <option value="055">055</option>
                                                        <option value="061">061</option>
                                                        <option value="062">062</option>
                                                        <option value="063">063</option>
                                                        <option value="064">064</option>
                                                        <option value="070">070</option>
                                                        <option value="080">080</option>
                                                        <option value="050">050</option>
                                                        <option value="012">012</option>
                                                        <option value="059">059</option>
                                                        <option value="MANUAL">직접입력</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="personal-number-input-wrap">
                                                <input maxlength="9" type="tel" class="personal-number-input" value="4849-6691" />
                                                <div class="space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="update-contents-inner">
                                    <div class="update-input-title">주소</div>
                                    <div class="update-input-wrap">
                                        <div class="address-update-input-wrap">
                                            <div class="address-update-input-container">
                                                <button type="button" class="address-search-button">주소찾기</button>
                                                <div class="update-address-zipcode-wrap">
                                                    <div class="update-address-zipcode-container">
                                                        <input disabled="" class="zipcode" value="12998" />
                                                        <div class="space"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="update-address-wrap">
                                                    <input disabled="" class="address-input" value="경기 하남시 감일순환로 170 (감이동)" />
                                                    <div class="space"></div>
                                                </div>
                                            </div>
                                            <div class="detail-address-wrap">
                                                <input maxlength="50" placeholder="상세주소 입력" class="detail-address" value="" />
                                                <div class="space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-address-checker-wrap">
                                    <div class="update-contents-inner"></div>
                                    <div class="main-address-checker-container">
                                        <div class="main-address-checker-inner">
                                            <label class="main-address-checker-label">
                                                <div class="main-address-checker checked">
                                                    <div class="check-image-wrap">
                                                        <span class="check-image-container">
                                                            <img src="/staticfiles/images/checker.png" alt="" />
                                                        </span>
                                                    </div>
                                                    <input type="checkbox" class="checkbox-input" checked="" />
                                                </div>
                                                <span class="checker-text">기본 배송지로 저장</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="save-button-wrap">
                        <div class="save-button-container">
                            <button class="save-button">저장</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 배송지 추가 -->
            <div class="add-address-total-wrap" style="display: none">
                <div class="add-address-total-container">
                    <div class="add-address-title-wrap">
                        <button type="button" class="add-back-button">
                            <span class="add-back-button-image-wrap">
                                <img src="/staticfiles/images/arrow.png" alt="" />
                            </span>
                        </button>
                        <span class="add-address-title">배송지 추가</span>
                        <button type="button" class="add-cancel-button">
                            <span class="add-cancel-image-wrap">
                                <img src="/staticfiles/images/cancel.png" alt="" />
                            </span>
                        </button>
                    </div>
                    <div class="add-address-contents-wrap">
                        <form class="add-address-contents-container">
                            <div>
                                <div class="add-address-input-wrap">
                                    <div class="add-address-input-title">배송지명</div>
                                    <div class="add-address-input-container">
                                        <div class="add-address-input-inner">
                                            <input maxlength="20" name="name" class="place-title-input" />
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-address-input-wrap">
                                    <div class="add-address-input-title">받는 사람</div>
                                    <div class="add-address-input-container">
                                        <div class="add-address-input-inner">
                                            <input maxlength="20" name="recipient" class="recipient-input" />
                                            <div class="space"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-address-input-wrap">
                                    <div class="add-address-input-title">전화번호</div>
                                    <div class="add-address-input-container">
                                        <div class="number-input-wrap">
                                            <div class="number-input-container">
                                                <div class="number-input-inner">
                                                    <span class="dropdown-image-wrap">
                                                        <img src="/staticfiles/images/button-down.png" alt="" />
                                                    </span>
                                                    <select class="front-number">
                                                        <option value="010">010</option>
                                                        <option value="011">011</option>
                                                        <option value="016">016</option>
                                                        <option value="017">017</option>
                                                        <option value="018">018</option>
                                                        <option value="019">019</option>
                                                        <option value="02">02</option>
                                                        <option value="031">031</option>
                                                        <option value="032">032</option>
                                                        <option value="033">033</option>
                                                        <option value="041">041</option>
                                                        <option value="042">042</option>
                                                        <option value="043">043</option>
                                                        <option value="044">044</option>
                                                        <option value="051">051</option>
                                                        <option value="052">052</option>
                                                        <option value="053">053</option>
                                                        <option value="054">054</option>
                                                        <option value="055">055</option>
                                                        <option value="061">061</option>
                                                        <option value="062">062</option>
                                                        <option value="063">063</option>
                                                        <option value="064">064</option>
                                                        <option value="070">070</option>
                                                        <option value="080">080</option>
                                                        <option value="050">050</option>
                                                        <option value="012">012</option>
                                                        <option value="059">059</option>
                                                        <option value="MANUAL">직접입력</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="personal-number-input-wrap">
                                                <input maxlength="9" type="tel" class="personal-number-input" value="" />
                                                <div class="space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-address-input-wrap">
                                    <div class="add-address-input-title">주소</div>
                                    <div class="add-address-input-container">
                                        <div class="add-address-wrap">
                                            <div class="add-address-container">
                                                <button type="button" class="address-add-button">주소찾기</button>
                                                <div class="added-address-wrap">
                                                    <div class="added-address-container">
                                                        <input disabled="" class="added-zipcode" value="" />
                                                        <div class="space"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="added-address-inner">
                                                    <input disabled="" class="added-address" value="" />
                                                    <div class="space"></div>
                                                </div>
                                            </div>
                                            <div class="added-detail-address">
                                                <input maxlength="50" placeholder="상세주소 입력" class="added-detail-address-input" value="" />
                                                <div class="space"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-address-checker-wrap">
                                    <div class="update-contents-inner"></div>
                                    <div class="main-address-checker-container">
                                        <div class="main-address-checker-inner">
                                            <label class="main-address-checker-label">
                                                <div class="main-address-checker">
                                                    <div class="check-image-wrap">
                                                        <span class="check-image-container">
                                                            <img src="/staticfiles/images/checker.png" alt="" />
                                                        </span>
                                                    </div>
                                                    <input type="checkbox" class="checkbox-input" checked="" />
                                                </div>
                                                <span class="checker-text">기본 배송지로 저장</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="add-save-wrap">
                            <div class="add-save-container">
                                <button class="add-save">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 경고 모달 -->
            <div class="confirm-total-wrap" style="display: none">
                <div class="confirm-wrap">
                    <div class="confirm-title-container">
                        <p class="confirm-title">배송지를 삭제하시겠습니까?</p>
                    </div>
                    <div class="confirm-button-wrap">
                        <div class="confirm-button-container"><button class="confirm-cancel">취소</button><button class="confirm">확인</button></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/staticfiles/js/payment/payment.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>
