<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 여기서부터 -->
        <style data-emotion="css-global" data-s="">
            @import "https://assets.ohou.se/design-system/bbf3fca1e650ee6d.css";
            @import "https://assets.ohou.se/fonts/pretendard/v1.3.8/pretendardvariable-dynamic-subset.css";
            @font-face {
                font-family: OhouseIcon;
                src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot);
                src: url(https://assets.ohou.se/design-system/3298ed52addbc709.eot#iefix)
                        format("embedded-opentype"),
                    url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2)
                        format("woff2"),
                    url(https://assets.ohou.se/design-system/9e79341d6a2fe0d2.woff)
                        format("woff"),
                    url(https://assets.ohou.se/design-system/5355f736e6a7bc5b.ttf)
                        format("truetype"),
                    url(https://assets.ohou.se/design-system/3ba7913eab100858.svg#OhouseIcon)
                        format("svg");
            }
            html {
                font-family: "Pretendard Variable", sans-serif;
                letter-spacing: -0.3px;
                -webkit-font-smoothing: antialiased;
            }
        </style>
        <link rel="stylesheet" href="../../staticfiles/css/common.css" />
        <!-- 여기까지는 무조건 고정으로 모든 페이지에 복붙하세요 -->
        <!-- 여기는 각자 css 파일 link하시면 됩니다 -->
        <link
            rel="stylesheet"
            href="../../staticfiles/css/transaction/transaction.css"
        />
        <title>거래메인</title>
    </head>
    <body>
        <header></header>
        <!-- 거래 카테고리 탭 -->
        <div class="category-wrap" style="height: 52px">
            <div
                class="category-container"
                style="
                    position: fixed;
                    z-index: 1101;
                    transition: top 0.1s ease 0s;
                    top: 81px;
                    width: 1233px;
                "
            >
                <div class="category-inner">
                    <div class="category-button-space">
                        <nav class="category-button-collection">
                            <span class="category-button">
                                <div class="button-space">
                                    <a
                                        href="/transaction"
                                        class="button-link-click"
                                    >
                                        <div class="button">
                                            <p class="button-letter-click">
                                                거래홈
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="category-button">
                                <div class="button-space">
                                    <a
                                        href="/transaction"
                                        class="button-link-unclick"
                                    >
                                        <div class="button">
                                            <p class="button-letter-unclick">
                                                인기거래
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                            <span class="category-button">
                                <div class="button-space">
                                    <a
                                        href="/transaction"
                                        class="button-link-unclick"
                                    >
                                        <div class="button">
                                            <p class="button-letter-unclick">
                                                거래
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </span>
                        </nav>
                    </div>
                    <div class="ranking-wrap">
                        <div class="ranking-container">
                            <div class="_ranking-container">
                                <div class="ranking-inner">
                                    <div class="ranking-main-wrap">
                                        <div class="ranking-main-container">
                                            <a
                                                href="/staticfiles/images/blank-image.png"
                                                class="ranking-link"
                                            >
                                                <div class="ranking-inner">
                                                    <span class="ranking-number"
                                                        >10</span
                                                    >
                                                    <span
                                                        class="ranking-label-container"
                                                    >
                                                        <span
                                                            class="ranking-label"
                                                        >
                                                            <svg
                                                                width="24"
                                                                height="24"
                                                                viewBox="0 0 24 24"
                                                                fill="none"
                                                                preserveAspectRatio="xMidYMid meet"
                                                            >
                                                                <path
                                                                    d="M4.18639 15V11.0707H4.22334L6.99431 15H8.0206V9H6.83421V12.9085H6.80137L4.0345 9H3V15H4.18639Z"
                                                                    fill="currentColor"
                                                                ></path>
                                                                <path
                                                                    d="M12.7943 13.9605H10.1096V12.447H12.6425V11.4823H10.1096V10.0353H12.7943V9H8.86982V15H12.7943V13.9605Z"
                                                                    fill="currentColor"
                                                                ></path>
                                                                <path
                                                                    d="M17.096 10.9002H17.1329L18.2578 15H19.4277L21 9H19.7151L18.7791 13.3451H18.7463L17.6379 9H16.5911L15.4827 13.3451H15.4498L14.518 9H13.2331L14.8012 15H15.9712L17.096 10.9002Z"
                                                                    fill="currentColor"
                                                                ></path>
                                                            </svg>
                                                        </span>
                                                        <span
                                                            class="ranking-tag"
                                                        >
                                                            태그명
                                                        </span>
                                                    </span>
                                                </div>
                                            </a>
                                            --
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
